USE [QuiBids]
GO
/****** Object:  Table [dbo].[Auction]    Script Date: 5/19/2019 10:07:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Auction_Time] [time](7) NOT NULL,
	[Close_Time] [int] NOT NULL,
	[Reserve_Price] [int] NULL,
	[EndPrice] [int] NULL,
	[CurrentBid_Id] [int] NULL,
	[Current_UserId] [int] NULL,
	[StartStatus] [bit] NOT NULL,
	[IsClose] [bit] NOT NULL,
 CONSTRAINT [PK_Auction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuctionLogs]    Script Date: 5/19/2019 10:07:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AuctionId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[TypeBid] [tinyint] NOT NULL,
 CONSTRAINT [PK_LogsAuction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 5/19/2019 10:07:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [varchar](2) NOT NULL,
	[Country_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/19/2019 10:07:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Model_Year] [tinyint] NULL,
	[Price] [int] NOT NULL,
	[Img] [nvarchar](100) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/19/2019 10:07:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [nvarchar](50) NOT NULL,
	[Lname] [nvarchar](50) NOT NULL,
	[Mobile] [nchar](15) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[VoucherBid] [int] NULL,
	[RealBid] [int] NULL,
	[LastLogin] [datetime] NULL,
	[CountryId] [int] NULL,
	[HideLocation] [bit] NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auction] ON 

INSERT [dbo].[Auction] ([Id], [ProductId], [Auction_Time], [Close_Time], [Reserve_Price], [EndPrice], [CurrentBid_Id], [Current_UserId], [StartStatus], [IsClose]) VALUES (1, 1, CAST(N'00:00:00' AS Time), 10, 84, 0, 0, 4, 1, 1)
INSERT [dbo].[Auction] ([Id], [ProductId], [Auction_Time], [Close_Time], [Reserve_Price], [EndPrice], [CurrentBid_Id], [Current_UserId], [StartStatus], [IsClose]) VALUES (2, 2, CAST(N'00:00:00' AS Time), 5, 17, 0, 0, 4, 1, 1)
INSERT [dbo].[Auction] ([Id], [ProductId], [Auction_Time], [Close_Time], [Reserve_Price], [EndPrice], [CurrentBid_Id], [Current_UserId], [StartStatus], [IsClose]) VALUES (3, 3, CAST(N'00:00:02' AS Time), 5, 18, 0, 0, 4, 1, 1)
SET IDENTITY_INSERT [dbo].[Auction] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [CountryCode], [Country_name]) VALUES (1, N'AF', N'Afghanistan')
INSERT [dbo].[Countries] ([Id], [CountryCode], [Country_name]) VALUES (2, N'AL', N'Albania')
INSERT [dbo].[Countries] ([Id], [CountryCode], [Country_name]) VALUES (3, N'DZ', N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Brand], [Model_Year], [Price], [Img]) VALUES (1, N'kala1', N'brand1 ', NULL, 500000, N'e (1).jpg')
INSERT [dbo].[Product] ([Id], [Name], [Brand], [Model_Year], [Price], [Img]) VALUES (2, N'kala2', N'brand2', NULL, 250000, N'e (2).jpg')
INSERT [dbo].[Product] ([Id], [Name], [Brand], [Model_Year], [Price], [Img]) VALUES (3, N'kala3', N'brand3', NULL, 2000000, N'e (3).jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Fname], [Lname], [Mobile], [Email], [Address], [Password], [VoucherBid], [RealBid], [LastLogin], [CountryId], [HideLocation], [Image]) VALUES (2, N'zahra', N'hvn11', N'09361997137    ', N'zahra11@gmail.com', N'tehran', N'123', 20, 11, NULL, 1, 0, NULL)
INSERT [dbo].[User] ([Id], [Fname], [Lname], [Mobile], [Email], [Address], [Password], [VoucherBid], [RealBid], [LastLogin], [CountryId], [HideLocation], [Image]) VALUES (3, N'ew', N'qwr', N'23232320930    ', N'mgn@gmail.com', N'b re e', N'3244185981728979115075721453575112', 0, 0, NULL, 2, 0, NULL)
INSERT [dbo].[User] ([Id], [Fname], [Lname], [Mobile], [Email], [Address], [Password], [VoucherBid], [RealBid], [LastLogin], [CountryId], [HideLocation], [Image]) VALUES (4, N'zahra', N'hvn', N'15451          ', N'zahra@gmail.com', N'defwej fkwjle', N'2539823711213321981162281981622129157160196', 0, 619, CAST(N'2019-05-12T10:20:00.000' AS DateTime), 1, 1, N'15.png')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Auction] ADD  CONSTRAINT [DF_Auction_StartStatus]  DEFAULT ((0)) FOR [StartStatus]
GO
ALTER TABLE [dbo].[Auction] ADD  CONSTRAINT [DF_Auction_IsClose]  DEFAULT ((0)) FOR [IsClose]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ('') FOR [CountryCode]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ('') FOR [Country_name]
GO
ALTER TABLE [dbo].[Auction]  WITH CHECK ADD  CONSTRAINT [FK_Auction_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Auction] CHECK CONSTRAINT [FK_Auction_Product]
GO
ALTER TABLE [dbo].[Auction]  WITH CHECK ADD  CONSTRAINT [FK_Auction_User] FOREIGN KEY([Current_UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Auction] CHECK CONSTRAINT [FK_Auction_User]
GO
ALTER TABLE [dbo].[AuctionLogs]  WITH CHECK ADD  CONSTRAINT [FK_LogsAuction_Auction] FOREIGN KEY([AuctionId])
REFERENCES [dbo].[Auction] ([Id])
GO
ALTER TABLE [dbo].[AuctionLogs] CHECK CONSTRAINT [FK_LogsAuction_Auction]
GO
ALTER TABLE [dbo].[AuctionLogs]  WITH CHECK ADD  CONSTRAINT [FK_LogsAuction_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[AuctionLogs] CHECK CONSTRAINT [FK_LogsAuction_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Countries]
GO
