#qbar p, #qbar span, #qbar li, #qbar a, #qbar h1, #qbar h2 {
    font-family: helvetica,arial,sans-serif;
    margin-bottom: 8px
}

#qbar_popup_username.popup.username div ul li {
    margin-bottom: -2px !important
}

#qbar p#stars {
    margin-bottom: -2px !important
}

#qbar img {
    border: 0
}

#qbar_popup_myquibids.popup.myquibids .content ul li {
    margin-bottom: 13px
}

#qbar_popup_mybids.popup.popup.qbarmybids .content .cont-right div div label {
    margin: 0 8px 0 0 !important
}

input#bidsfirst_real, input#bidsfirst_voucher {
    height: 14px;
    margin-top: 5px !important
}

#qbar {
    width: 98%;
    min-width: 960px;
    height: 32px;
    padding: 0;
    margin: 0 1%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9995;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    color: #343434;
    display: none
}

    #qbar.hidden {
        width: 105px;
        min-width: 0
    }

    #qbar .container {
        width: auto;
        height: 32px;
        padding: 0;
        margin: 0;
        position: relative;
        bottom: 0;
        z-index: 9996;
        background: url('../img/Footer-Bar/qbar-gloss.jpg') #e2e2e2 left top repeat-x;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-topleft: 8px;
        border-radius: 8px 8px 0 0;
        border-top: solid 1px #228ee8;
        border-left: solid 1px #228ee8;
        border-right: solid 1px #228ee8;
        box-shadow: 0 -1px 7px #a7a7a7;
        -webkit-box-shadow: 0 -1px 7px #a7a7a7;
        -moz-box-shadow: 0 -1px 7px #a7a7a7
    }

    #qbar .container_small {
        width: 100px;
        height: 32px;
        padding: 0;
        margin: 0;
        position: relative;
        bottom: 0;
        z-index: 9996;
        background: url('../img/Footer-Bar/qbar-gloss.jpg') #e2e2e2 left top repeat-x;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-topleft: 8px;
        border-radius: 8px 8px 0 0;
        border-top: solid 1px #228ee8;
        border-left: solid 1px #228ee8;
        border-right: solid 1px #228ee8;
        box-shadow: 0 -1px 7px #a7a7a7;
        -webkit-box-shadow: 0 -1px 7px #a7a7a7;
        -moz-box-shadow: 0 -1px 7px #a7a7a7
    }

    #qbar .logo {
        width: 77px;
        height: 32px;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-border-top-left-radius: 8px;
        -moz-border-radius-topleft: 8px;
        border-radius: 8px 0 0 0;
        border-right: solid 1px #CCC
    }

        #qbar .logo a {
            width: 77px;
            height: 32px;
            padding: 0;
            margin: 0;
            float: left;
            display: block;
            text-indent: -9998px;
            overflow: hidden;
            cursor: pointer;
            background: url('../img/Footer-Bar/logo.png') 15px 7px no-repeat;
        }

    #qbar #qbar_small {
        width: 110px;
        padding: 0;
        margin: 0;
        background: url('../img/Footer-Bar/expand.jpg') #e2e2e2 68px center no-repeat
    }

        #qbar #qbar_small .logo {
            width: 77px;
            height: 32px;
            padding: 0;
            margin: 0;
            border-right: solid 1px #ccc
        }

            #qbar #qbar_small .logo a#qbar_btn_qbar_show {
                width: 110px;
                height: 32px;
                padding: 0;
                margin: 0
            }

    #qbar .connect {
        width: 150px;
        height: 32px;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 78px;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc
    }

        #qbar .connect p {
            padding: 0;
            margin: 10px 8px 0 10px;
            color: #666;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            float: left;
            letter-spacing: -0.03em
        }

        #qbar .connect a {
            width: 16px;
            height: 16px;
            padding: 0;
            margin: 8px 0 0 8px;
            float: left;
            display: block;
            cursor: pointer;
            text-indent: -9999px;
            overflow: hidden
        }

            #qbar .connect a.fb {
                background: url(/site/images/qbar/facebook-16x16.png) center top no-repeat
            }

                #qbar .connect a.fb:hover {
                    background: url(/site/images/qbar/facebook-16x16.png) center bottom no-repeat
                }

            #qbar .connect a.tw {
                background: url(/site/images/qbar/twitter-16x16.png) center top no-repeat
            }

                #qbar .connect a.tw:hover {
                    background: url(/site/images/qbar/twitter-16x16.png) center bottom no-repeat
                }

            #qbar .connect a.gplus {
                background: url(/site/images/qbar/gplus-16x16.png) center top no-repeat
            }

                #qbar .connect a.gplus:hover {
                    background: url(/site/images/qbar/gplus-16x16.png) center bottom no-repeat
                }

.navbar {
    width: auto;
    height: 32px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 78px;
    right: 42px;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    z-index: 9999
}

    .navbar ul.navleft {
        padding: 0 10px;
        margin: -1px 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        display: block
    }

    .navbar ul.navright {
        padding: 0 10px;
        margin: -1px 0 0 0;
        position: absolute;
        top: 0;
        right: 0;
        display: block
    }

    .navbar li {
        height: 32px;
        padding: 0;
        margin: 0;
        list-style: none;
        display: block;
        float: left
    }

        .navbar li a {
            height: 32px;
            padding: 0 15px;
            margin: 0;
            text-decoration: none;
            color: #3b3b3b;
            font-weight: bold;
            text-shadow: 1px 2px 1px #fff;
            float: left;
            line-height: 34px;
            display: block;
            border-left: solid 1px transparent;
            border-right: solid 1px transparent;
            cursor: pointer
        }

            .navbar li a:hover {
                color: #f37226
            }

            .navbar li a.selected {
                border-left: solid 1px #228ee8;
                border-right: solid 1px #228ee8;
                cursor: pointer;
                background: url('../img/Footer-Bar/navbar-hov.jpg') left bottom repeat-x;
                padding-top: 2px;
                color: #f37226
            }

    .navbar img.user {
        padding: 6px 8px 0 0;
        margin: 0;
        width: 22px;
        float: left;
        border: 0
    }

    .navbar img {
        padding: 8px 8px 0 0;
        margin: 0;
        float: left
    }

    .navbar li.qconnect {
        margin-top: 10px;
        float: left;
        border: 0;
        width: 30px
    }

    .navbar a.qconnect1 {
        background: url(/site/images/qbar/conect1.gif) no-repeat
    }

    .navbar a.qconnect2 {
        background: url(/site/images/qbar/conect2.gif) no-repeat
    }

    .navbar a.qconnect3 {
        background: url(/site/images/qbar/conect3.gif) no-repeat
    }

    .navbar a.qconnect4 {
        background: url(/site/images/qbar/conect4.gif) no-repeat
    }

    .navbar li label {
        padding: 0 0 0 10px;
        margin: 0;
        font-weight: normal;
        float: right;
        color: #3b3b3b
    }

    .navbar span.orange {
        font-weight: bold;
        color: #f37226;
        font-family: helvetica,arial,sans-serif
    }

#qbar .notify {
    width: 40px;
    height: 32px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 1px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-radius: 0 8px 0 0;
    border-left: solid 1px #ccc;
    background: url('../img/Footer-Bar/notify-bg.jpg') left bottom;
    text-align: center
}

#qbar .notifypopup .content {
    width: 220px
}

#qbar .notify ul {
    padding: 0;
    margin: -1px 0 0 0
}

#qbar .notify li {
    width: 40px;
    height: 32px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    float: left
}

    #qbar .notify li a {
        width: 40px;
        height: 32px;
        padding: 0;
        margin: 0;
        float: left;
        display: block;
        cursor: pointer;
        border-left: solid 1px transparent;
        border-right: solid 1px transparent
    }

        #qbar .notify li a:hover {
            text-decoration: none;
            -webkit-border-top-right-radius: 8px;
            -moz-border-radius-topright: 8px;
            border-radius: 0 8px 0 0;
            border-top: solid 1px #228ee8;
            border-right: solid 1px #228ee8;
            background: url('../img/Footer-Bar/navbar-hov.jpg') left bottom repeat-x;
        }

#qbar .notifypopup .content li {
    width: 200px;
    border-bottom: 0;
    list-style: none
}

    #qbar .notifypopup .content li.lineabove {
        border-top: solid 1px #ececec
    }

#qbar .notify img {
    padding: 0;
    margin: 10px 0 0 -3px
}

#qbar .notify label {
    font-weight: bold;
    position: relative;
    margin: 5px 0 0 4px
}

#qbar #qbar_btn_mybids label {
    float: none
}

#qbar #qbar_btn_mygames label {
    float: none
}

.popup {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 33px;
    z-index: 9997;
    background: #fff;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-radius: 8px 8px 0 0;
    border-top: solid 1px #228ee8;
    border-left: solid 1px #228ee8;
    border-right: solid 1px #228ee8;
    box-shadow: 0 -1px 7px #a7a7a7;
    -webkit-box-shadow: 0 -1px 7px #a7a7a7;
    -moz-box-shadow: 0 -1px 7px #a7a7a7
}

    .popup .title {
        height: 32px;
        padding: 0;
        margin: 0;
        float: left;
        background: url('../img/Footer-Bar/title-gloss.jpg') #48494b left top repeat-x;
        -webkit-border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-topleft: 6px;
        border-radius: 6px 6px 0 0
    }

        .popup .title h2 {
            padding: 0 0 0 1em;
            margin: 0;
            color: #fff;
            font-size: 13px;
            text-shadow: 1px 1px 1px #1b1b1b;
            line-height: 33px;
            float: left
        }

        .popup .title a.close {
            width: 32px;
            height: 32px;
            padding: 0;
            margin: 0;
            display: block;
            float: right;
            cursor: pointer;
            text-indent: -9999px;
            overflow: hidden;
            background: url('../img/Footer-Bar/close.gif') center center no-repeat
        }

        .popup .title a:hover.close {
            background: url(/site/images/qbar/close-hov.gif) center center no-repeat;
            padding-top: 2px
        }

        .popup .title a:active.close {
            padding-top: 2px
        }

    .popup .link {
        width: 100%;
        height: 22px;
        padding: 0;
        margin: 0;
        float: left;
        background: url('../img/Footer-Bar/link-bg.jpg') #48494b left top repeat-x;
        line-height: 22px
    }

        .popup .link a {
            padding: 0 12px 0 0;
            margin: 0 10px 0 0;
            color: #ff5f02;
            text-decoration: none;
            font-family: helvetica,arial,sans-serif;
            font-weight: bold;
            display: block;
            float: right;
            background: url('../img/Layout/arrow.gif') right 7px no-repeat
        }

            .popup .link a:hover {
                text-decoration: underline
            }

            .popup .link a:active {
                padding-top: 2px
            }

    .popup .content {
        padding: 10px 15px;
        margin: 0;
        float: left;
        text-align: left
    }

        .popup .content p {
            color: #666;
            line-height: 18px
        }

        .popup .content ul {
            padding: 0;
            margin: 0;
            display: block
        }

.qbarmybids .content li {
    width: 100%;
    padding: 4px 0 8px 0;
    margin: 0 0 4px 0;
    border-bottom: solid 1px #ececec;
    float: left;
    display: block
}

    .qbarmybids .content li a {
        padding: 0;
        margin: 0 0 10px 0;
        color: #ff5f02
    }

.popup .content strong {
    color: #333
}

.popup.username {
    width: 400px;
    left: 0 !important
}

    .popup.username .title {
        width: 400px
    }

    .popup.username .content {
        margin-bottom: 10px
    }

        .popup.username .content h2 {
            clear: both;
            padding: 0;
            margin: 0;
            font-size: 14px;
            line-height: 13px
        }

        .popup.username .content p {
            margin-top: 11px;
            margin-bottom: 15px
        }

    .popup.username .profileUsername {
        text-align: center;
        width: 100px;
        font-size: 13px;
        font-weight: bold;
        padding-top: 10px;
        word-wrap: break-word
    }

.popup.notifypopup {
    width: 250px;
    left: 0
}

    .popup.notifypopup .title {
        width: 250px
    }

    .popup.notifypopup a.delete {
        width: 10px;
        height: 10px;
        padding: 0;
        margin: 5px 0 0 0;
        text-indent: -9999px;
        overflow: hidden;
        float: right;
        display: block;
        background: url(/site/images/qbar/delete.gif) center top no-repeat
    }

        .popup.notifypopup a.delete:hover {
            background: url(/site/images/qbar/delete.gif) center bottom no-repeat
        }

    .popup.notifypopup li.badge1 {
        padding: 0 0 0 24px;
        margin: 0;
        background: url(/site/images/qbar/bdge1.png) left 14px no-repeat
    }

    .popup.notifypopup li.badge2 {
        padding: 0 0 0 24px;
        margin: 0;
        background: url(/site/images/qbar/bdge2.png) left 14px no-repeat
    }

    .popup.notifypopup li.update {
        padding: 0 0 0 20px;
        margin: 0;
        background: url(/site/images/qbar/notify.png) left 14px no-repeat
    }

    .popup.notifypopup li.gameplay {
        padding: 0 0 0 20px;
        margin: 0;
        background: url(/site/images/qbar/gamesicon.png) left 14px no-repeat
    }

    .popup.notifypopup li.promotion {
        padding: 0 0 0 20px;
        margin: 0;
        background: url(/site/images/qbar/gift_add_16.png) left 14px no-repeat
    }

    .popup.notifypopup li {
        width: auto;
        padding: 0;
        margin: 0
    }

.popup.myquibids {
    width: 330px;
    left: 280px
}

    .popup.myquibids .title {
        width: 330px
    }

    .popup.myquibids .content {
        margin-bottom: 20px
    }

    .popup.myquibids .cont-left {
        width: 140px;
        padding: 0 5px 0 0;
        margin: 0;
        float: left
    }

    .popup.myquibids h3 {
        padding: 0;
        margin: 10px 0 0 0;
        font-weight: bold;
        font-size: 13px;
        color: #f27210;
        line-height: 15px
    }

        .popup.myquibids h3 a {
            padding: 0;
            margin: 0;
            font-weight: bold;
            font-size: 13px;
            color: #f27210;
            text-decoration: none
        }

    .popup.myquibids ul {
        padding: 0;
        margin: 0;
        float: left
    }

        .popup.myquibids ul li {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            border-bottom: 0
        }

            .popup.myquibids ul li a {
                height: 10px;
                padding: 0 0 0 10px;
                margin: 5px 0;
                display: block;
                font-size: 12px;
                text-decoration: none;
                color: #167dc7;
                cursor: pointer;
                letter-spacing: -0.03em;
                background:  url('../img/Layout/arrow.gif')left center no-repeat;
                line-height: 10px
            }

                .popup.myquibids ul li a:hover {
                    text-decoration: underline
                }

#qbar .popup.watchlist {
    width: 440px;
    left: 280px
}

.popup.watchlist .title {
    width: 440px
}

.popup.watchlist .content {
    width: 420px;
    padding: 0 10px;
    margin: 0;
    height: 100px
}

    .popup.watchlist .content .auction {
        width: 418px;
        padding: 2px 0 8px 0;
        margin: 4px 0;
        float: left;
        border-bottom: solid 1px #ececec
    }

        .popup.watchlist .content .auction .watchicon {
            width: 44px;
            height: 34px;
            padding: 0;
            margin: 0;
            float: left;
            background: #ccc
        }

        .popup.watchlist .content .auction .watchtitle {
            width: 340px;
            padding: 0 0 5px 5px;
            margin: 0;
            float: left;
            text-align: left;
            font-family: helvetica,arial,sans-serif
        }

            .popup.watchlist .content .auction .watchtitle a {
                font-weight: bold;
                font-size: 12px;
                color: #2b72a5
            }

        .popup.watchlist .content .auction .watchprice {
            width: 80px;
            padding: 0 0 0 5px;
            margin: 0;
            float: left;
            text-align: left;
            color: #4fb414;
            font-family: helvetica,arial,sans-serif
        }

        .popup.watchlist .content .auction .watchdelete {
            width: 80px;
            padding: 0 0 0 5px;
            margin: 0;
            float: left;
            text-align: left;
            color: #4fb414;
            font-size: 11px;
            font-family: helvetica,arial,sans-serif
        }

        .popup.watchlist .content .auction .watchtimeleft {
            width: 103px;
            padding: 0 5px 0 0;
            margin: 0;
            float: right;
            text-align: right;
            color: #333;
            font-weight: bold;
            font-size: 13px;
            font-family: helvetica,arial,sans-serif
        }

        .popup.watchlist .content .auction img {
            border: 0
        }

.scrollable {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px
}

    .scrollable .items {
        position: absolute;
        height: 20000em
    }

.disabled {
    visibility: hidden
}

.actions {
    width: 100%;
    height: 22px;
    padding: 0;
    margin: 0;
    float: left;
    background: url('../img/Footer-Bar/link-bg.jpg') #48494b left top repeat-x;
    line-height: 22px
}

    .actions a {
        padding-left: 10px;
        padding-right: 10px;
        color: #ff5f02;
        text-decoration: none;
        font-family: helvetica,arial,sans-serif;
        font-weight: bold;
        display: block;
        float: right
    }

.popup.qbarmybids {
    width: 300px;
    left: 700px
}

    .popup.qbarmybids .title {
        width: 300px
    }

    .popup.qbarmybids .cont-left {
        width: 70px;
        padding: 10px 10px 0 0;
        margin: 0;
        float: left;
        text-align: center
    }

    .popup.qbarmybids .cont-right {
        width: 180px;
        padding: 0 0 0 10px;
        margin: 0;
        float: right
    }

        .popup.qbarmybids .cont-right img {
            float: right
        }

        .popup.qbarmybids .cont-right div div label {
            margin: 6px 15px 7px 0
        }

    .popup.qbarmybids p.big {
        margin-bottom: 10px
    }

    .popup.qbarmybids .buyMoreBids {
        width: 250px;
        padding: 5px 10px 10px 10px;
        margin: 10px 0 0 0;
        float: left;
        background: #f1f1f1;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        color: #333
    }

        .popup.qbarmybids .buyMoreBids .qbuytitlebox {
            width: 100%;
            padding-top: 5px;
            padding-bottom: 15px;
            display: clear
        }

        .popup.qbarmybids .buyMoreBids .qbuytitle {
            padding: 0;
            margin: 0;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px
        }

        .popup.qbarmybids .buyMoreBids .qbuysubtitle {
            padding: 0;
            margin: 0;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px
        }

        .popup.qbarmybids .buyMoreBids label {
            padding: 0;
            margin: 10px 0 0 0;
            float: left
        }

        .popup.qbarmybids .buyMoreBids a.buynow {
            width: 54px;
            height: 34px;
            padding: 0;
            margin: 10px 0 0 0;
            font-size: 13px;
            font-weight: bold;
            color: #fff;
            float: right;
            display: block;
            background: url(/site/images/qbar/buy-btn.png) right center no-repeat;
            line-height: 34px;
            text-align: center
        }

        .popup.qbarmybids .buyMoreBids a.buy:hover {
            text-decoration: none
        }

.popup.qbarmygames {
    position: absolute;
    width: 300px;
    left: 700px
}

    .popup.qbarmygames .title {
        width: 300px
    }

    .popup.qbarmygames .cont-left {
        width: 70px;
        padding: 10px 10px 0 0;
        margin: 0;
        float: left;
        text-align: center
    }

    .popup.qbarmygames .cont-right {
        width: 180px;
        padding: 0 0 0 10px;
        margin: 0;
        float: right
    }

        .popup.qbarmygames .cont-right img {
            float: right
        }

    .popup.qbarmygames p.big {
        margin-bottom: 10px
    }

#qbar .qbarmygames ul {
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    left: 10px
}

.qbarmygames li {
    float: left;
    width: 80px;
    padding: 0 !important;
    margin: 0 10px 10px 0 !important;
    list-style: none !important
}

    .qbarmygames li a {
        display: block;
        position: relative
    }

    .qbarmygames li span {
        display: block;
        float: right;
        position: absolute;
        background: url(/site/images/qbar/gp-circle.png) no-repeat;
        width: 20px;
        height: 16px;
        text-align: center;
        color: #fff;
        top: -5px;
        left: 65px;
        padding: 6px 2px 0 0;
        font-size: 11px;
        line-height: 8px
    }

.qbarmygames .qbuytitlebox {
    padding: 10px 15px 10px 15px;
    background: #f1f1f1;
    border-radius: 5px;
    clear: both
}

.qbarmygames h2.qbuytitle {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #555
}

    .qbarmygames h2.qbuytitle img {
        position: relative;
        top: 2px
    }

.qbarmygames .qbuytitlebox p {
    margin: 2px 0
}

.popup.qbarsupport {
    width: 420px;
    left: 900px
}

    .popup.qbarsupport .title {
        width: 420px
    }

    .popup.qbarsupport .cont-left {
        width: 180px;
        padding: 0 10px 10px 0;
        margin: 0;
        float: left
    }

    .popup.qbarsupport .cont-right {
        width: 180px;
        padding: 0 0 10px 10px;
        margin: 0;
        float: right
    }

        .popup.qbarsupport .cont-right img {
            float: right
        }

    .popup.qbarsupport h3 {
        padding: 0;
        margin: 10px 0;
        font-weight: bold;
        font-size: 13px;
        color: #f27210
    }

    .popup.qbarsupport ul {
        padding: 0;
        margin: 0;
        float: left
    }

        .popup.qbarsupport ul li {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            border-bottom: 0
        }

            .popup.qbarsupport ul li a {
                height: 10px;
                padding: 0 0 0 10px;
                margin: 5px 0;
                display: block;
                font-size: 12px;
                text-decoration: none;
                color: #167dc7;
                cursor: pointer;
                letter-spacing: -0.03em;
                background: url('../img/Layout/arrow.gif') left center no-repeat;
                line-height: 10px
            }

.popup.myquibids ul li a:hover {
    text-decoration: underline
}

.popup.buy {
    width: 300px;
    left: 1200px
}

    .popup.buy .title {
        width: 300px
    }

    .popup.buy .content {
        width: 300px;
        padding: 0;
        margin: 0
    }

#qbar .selection {
    width: 100%;
    height: 38px;
    padding: 0;
    margin: 1px 0 0 0;
    border-bottom: solid 1px #ececec;
    float: left;
    background-color: #fbfbfb;
    line-height: 38px
}

#qbar input {
    padding: 0;
    margin: 2px 0 0 0;
    line-height: 38px;
    cursor: pointer
}

#qbar .selection .left {
    padding: 0 0 0 10px;
    margin: 0;
    float: left
}

#qbar .selection .right {
    padding: 0 10px 0 0;
    margin: 0;
    float: right
}

    #qbar .selection .right p {
        padding: 0;
        margin: 0
    }

        #qbar .selection .right p.cost {
            padding-right: 50px;
            float: left;
            font-size: 16px;
            color: #666
        }

        #qbar .selection .right p.bids {
            padding-left: 50px;
            float: right;
            font-size: 18px;
            color: #f27226;
            background: url(/site/images/qbar/bids.png) 30px center no-repeat
        }

#qbar .selection .total {
    width: 100%;
    padding: 40px 0;
    margin: 0;
    border-bottom: solid 1px #ececec;
    float: left;
    background-color: #fff
}

#qbar .selection .purchase {
    width: 100%;
    padding: 40px 0;
    margin: 0;
    float: left;
    background: #ccc
}

    #qbar .selection .purchase input {
        float: right
    }

#qbar .help {
    width: auto;
    max-width: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 44px;
    left: 240px;
    z-index: 9998;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: url('../img/Footer-Bar/bubble-bg.png') left top repeat;
    display: none
}

    #qbar .help span.help-cont {
        padding: 12px;
        margin: 0;
        float: left
    }

    #qbar .help span.help-btm {
        width: 10px;
        height: 9px;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: -9px;
        left: 40px;
        background: url('../img/Footer-Bar/bubble-btm.png') left top no-repeat
    }

    #qbar .help p {
        padding: 0;
        margin: 0;
        color: #fff
    }

.big {
    padding: 0;
    margin: 0;
    font-size: 34px;
    font-weight: bold;
    color: #f27226
}

.big2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #f27226
}

.small {
    padding: 0;
    margin: 0;
    font-size: 11px;
    color: #333
}

.username #stars {
    clear: both
}

    .username #stars #starsfull {
        background: transparent;
        width: 200px;
        text-align: center;
        position: inherit;
        color: #7f7f7f;
        font-weight: bold;
        top: 83px
    }

    .username #stars .on, .username #stars .off, .username #stars .won {
        float: left;
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 5px
    }

    .username #stars .on {
        background: url(/site/images/qbar/abel-on.png) 0 0 no-repeat
    }

    .username #stars .off {
        background: url('../img/Footer-Bar/label-off.png')0 0 no-repeat;
    }

    .username #stars .won {
        background: url(/site/images/qbar/label-won.png) 0 0 no-repeat
    }

div.content div cont-right ul li {
    list-style: none !important
}

div#qbar_popup_username.popup.username .content div ul li {
    list-style: none !important
}

ol, ul, li {
    list-style: none
}

    ul.gplays li a {
        text-align: center
    }

.ui-slider {
    width: 92%
}

#qbar_watchlist_actions a.disabled-link {
    color: grey
}