
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>NewBids 101 - NewBids.com</title>
<link rel="stylesheet" href="~/Content/Css/101.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Css/print.css" media="print" type="text/css" />


<div class="gloss">
    <div class="wrapper">

        <div id="container">

            <div class="content">
                <div id="intro">
                    <div class="left">
                        <h1>Welcome to QuiBids 101!</h1>
                        <p>We built QuiBids 101 as a resource for our customers so that you might learn more about our auction model and how to win our great products for insanely low prices! We understand that you expect an exciting shopping experience when you come to QuiBids, so we want to do our best to make it happen!</p>
                        <p> The goal is to explain our auction model, which we'll admit, is not simple, though we do think it's the most fun and and exciting way to shop online. We encourage you to read all of QuiBids 101, which is divided into the four categories listed below. We guarantee that the information there will make for a more fun, more successful QuiBids experience!</p>

                        <p>Click <a href="javascript:void(0)" onclick="popupShowURL('/company/important-info2.php','',400,false,'Close',true);return false;">here</a> for more information about bidding on QuiBids that shows how many bidders participated historically in certain auctions and about how many bids the winner of the auction placed.</p>


                    </div><!--left-->

                </div><!--intro-->
                <div id="sections">
                    <a name="articles"></a>

                    <div class="module left">
                        <h3 class="blog-cat" onclick="document.location='/en/quibids101/articles/1-Tips-and-Tricks';" style="cursor:pointer;">
                            <img class="q-icons" src="~/Content/About_img/tips-icon.png" alt="tips" /> Tips and Tricks
                        </h3>
                        <div class="content">
                            <ul>
                                <li><a href="/en/quibids101/blog/16-The-3-Biggest-Mistakes-Beginners-Make">The 3 Biggest Mistakes Beginners Make</a></li>
                                <!-- <p>In this article, we cover some common pitfalls that many new users fall into when using QuiBids.</p>-->


                                <li><a href="/en/quibids101/blog/9-Going-After-the-Big-One">Going After the 'Big One'</a></li>
                                <!-- <p>Here, we offer some recommendations on how to obtain the most popular products at QuiBids.</p>-->


                                <li><a href="/en/quibids101/blog/10-How-do-I-win-more-auctions">How do I win more auctions?</a></li>
                                <!-- <p>This blog gives tips on winning more auctions at QuiBids.</p>-->


                                <li><a href="/en/quibids101/blog/20-5-Commandments-to-Winning">5 Commandments to Winning</a></li>
                                <!-- <p>Here, we discuss a few more tips for you to consider when getting into any auction.</p>-->

                            </ul>
                            <div class="see-all"><a class="view-more bold" href="/en/quibids101/articles/1-Tips-and-Tricks">See all</a></div>
                        </div>
                    </div>

                    <div class="module right">
                        <h3 class="blog-cat" onclick="document.location='/en/quibids101/articles/2-Best-Ways-to-Shop';" style="cursor:pointer;">
                            <img class="q-icons" src="~/Content/About_img/best-icon.png" alt="tips" /> Best Ways to Shop
                        </h3>
                        <div class="content">
                            <ul>
                                <li><a href="/en/quibids101/blog/30-Your-Favorite-Tip-Poll-Results">Your Favorite Tip - Poll Results</a></li>
                                <!-- <p>We conducted a recent poll and wanted to give you the results.</p>-->


                                <li><a href="/en/quibids101/blog/28-Staying-in-the-Know-Zone">Staying in the 'Know' Zone</a></li>
                                <!-- <p>We wanted to give some more tips on how to shop on our site, what action to take, what to be aware of, etc.</p>-->


                                <li><a href="/en/quibids101/blog/27-How-QuiBids-Protects-Its-Customers">How QuiBids Protects Its Customers</a></li>
                                <!-- <p>We share what is the safe way to shop and have fun on our site, as well as the measures we take to keep you safe!</p>-->


                                <li><a href="/en/quibids101/blog/35-Lets-Talk-Limit-Busters">Let's Talk Limit Busters!</a></li>
                                <!-- <p>If you are tired of waiting around for your win limits to expire, then wait no more with our Limit Buster Auctions</p>-->

                            </ul>
                            <div class="see-all"><a class="view-more bold" href="/en/quibids101/articles/2-Best-Ways-to-Shop">See all</a></div>
                        </div>
                    </div>
                    <div class='clear'></div>
                    <div class="module left">
                        <h3 class="blog-cat" onclick="document.location='/en/quibids101/articles/3-Our-Auction-Model';" style="cursor:pointer;">
                            <img class="q-icons" src="~/Content/About_img/auction-icon.png" alt="tips" /> Our Auction Model
                        </h3>
                        <div class="content">
                            <ul>
                                <li><a href="/en/quibids101/blog/12-How-does-QuiBids-work">How does QuiBids work?</a></li>
                                <!-- <p>We explain exactly how QuiBids works and how to participate in a QuiBid auction.</p>-->


                                <li><a href="/en/quibids101/blog/25-Buy-Now-Explained">Buy Now Explained</a></li>
                                <!-- <p>We want to explain the Buy Now feature a little more thoroughly for our customers.</p>-->


                                <li><a href="/en/quibids101/blog/77-QuiBids-Games-Explained">QuiBids Games Explained</a></li>
                                <!-- <p>Have you noticed QuiBids’ newest feature, QuiBids games?  The idea of playing a game to win free bids seems rather enticing.</p>-->


                                <li><a href="/en/quibids101/blog/37-Badges-Set-Goals-and-Earn-Rewards">Badges - Set Goals and Earn Rewards!</a></li>
                                <!-- <p>Badges are a great way to gain experience on our site, set goals, and earn rewards for being a valuable QuiBids customer.</p>-->

                            </ul>
                            <div class="see-all"><a class="view-more bold" href="/en/quibids101/articles/3-Our-Auction-Model">See all</a></div>
                        </div>
                    </div>

                    <div class="module right">
                        <h3 class="blog-cat" onclick="document.location='/en/quibids101/articles/4-Satisfied-Customers';" style="cursor:pointer;">
                            <img class="q-icons" src="~/Content/About_img/test-icon.png" alt="tips" /> Satisfied Customers
                        </h3>
                        <div class="content">
                            <ul>
                                <li><a href="/en/quibids101/blog/14-My-experience-using-QuiBids">My experience using QuiBids</a></li>
                                <!-- <p>Here, we have QuiBids customer Travis H. offer his thoughts about our site. We encourage all of our customers to share their thoughts, so if you'd like to be featured in one of our customer testimonial posts, please email us at support@quibids.com and tell us what’s on your mind!</p>-->


                                <li><a href="/en/quibids101/blog/15-My-Experience-with-QuiBids-Process-is-great">My Experience with QuiBids - Process is great</a></li>
                                <!-- <p>Here, customer Justin B. shares about his experience and the items he’s won.  If you'd like to be featured in one of our customer testimonial posts, email us at support@quibids.com with your story!</p>-->


                                <li><a href="/en/quibids101/blog/19-Feedback">Feedback</a></li>
                                <!-- <p>Just recently, some of our happy customers passed these notes our way. Here’s a few snippets of what were sent to us.</p>-->


                                <li><a href="/en/quibids101/blog/21-Many-a-Thanks">Many a Thanks</a></li>
                                <!-- <p>You guys may be thanking us, but we thank YOU for your participation!  We couldn't be happier to make someone's day... or auction!</p>-->

                            </ul>
                            <div class="see-all"><a class="view-more bold" href="/en/quibids101/articles/4-Satisfied-Customers">See all</a></div>
                        </div>
                    </div>
                    <div class='clear'></div>
                </div><!--101-sections-->
            </div><!--content-->
        </div><!--container-->


    </div><!--wrapper-->
</div><!--gloss-->

<script type="text/javascript" src="~/Scripts/JScript/jwplayer.js"></script>
<script type='text/javascript'>
    mm = 100;
    try { jwplayer.key = "1QAv+7A7YVLROUw/O9GOdaD/V5XEo+yYalmuOg=="; } catch (e) { }
    var _gaq = _gaq || [];
    _gaq.push(
        ['_setAccount', 'UA-10065556-11'],
        ['_trackPageview'],
        ['_setCustomVar', 1, 'CSL', '1', 1],
        ['_setCustomVar', 5, 'LA', '30', 1],
        ['b._setAccount', 'UA-10065556-1'],
        ['b._trackPageview']
    );
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();


    /* Begin TVSquared Tracking Code */
    var _tvq = window._tvq = window._tvq || [];
    (function () {
        var u = (("https:" == document.location.protocol) ? "https://collector-4492.tvsquared.com/" : "http://collector-4492.tvsquared.com/");
        _tvq.push(['setSiteId', "TV-54540972-1"]);
        _tvq.push(['setTrackerUrl', u + 'tv2track.php']);
        _tvq.push([function () {
            this.deleteCustomVariable(5, 'page')
        }]);
        _tvq.push(['trackPageView']);
        var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.defer = true;
        g.async = true;
        g.src = u + 'tv2track.js';
        s.parentNode.insertBefore(g, s);
    })();

    /**
     * BOOMTRAIN
     */
    !function () { function a(a) { return function () { var b = Array.prototype.slice.call(arguments); return b.unshift(a), window._bt.push(b), window._bt } } window._bt = window._bt || []; for (var b = ["track", "identify", "initialize", "clear", "setBsin", "person.set"], c = 0; c < b.length; c++) { var d = window._bt, e = b[c].split("."), f = e[0], g = f; 2 === e.length && (d[f] = d[f] || {}, d = d[f], f = e[1], g = b[c]), d[f] = a(g) } if (!document.getElementById("analyticstrain-js")) { var h = document.createElement("script"); h.type = "text/javascript", h.id = "analyticstrain-js", h.async = !0, h.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.boomtrain.com/analyticstrain-2.min.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(h, i) } }();
    _bt.initialize("50be7befc1a7ec6d2136a8dc81e82cc6");


</script>
