
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>NewBids Help, NewBids.com</title>
    <link href="~/Content/Css/jqueryui.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/Css/main.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/Css/help.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Css/print.css" media="print" type="text/css" />
    <link rel="stylesheet" href="~/Content/Css/qbar.css" type="text/css" />

    <script type='text/javascript'>
        loggedIn = true; accountUsername = '272620'; mm = 100; var _gaq = _gaq || [];
        _gaq.push(
            ['_setAccount', 'UA-10065556-11'],
            ['_trackPageview'],
            ['_setCustomVar', 1, 'CSL', '1', 1],
            ['_setCustomVar', 5, 'LA', '30', 1],
            ['_setCustomVar', 2, 'LoggedIn', 'Yes', 2], ['b._setAccount', 'UA-10065556-1'],
            ['b._trackPageview']
        );
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();


        /* Begin TVSquared Tracking Code */
        var _tvq = window._tvq = window._tvq || [];
        (function () {
            var u = (("https:" == document.location.protocol) ? "https://collector-4492.tvsquared.com/" : "http://collector-4492.tvsquared.com/");
            _tvq.push(['setSiteId', "TV-54540972-1"]);
            _tvq.push(['setTrackerUrl', u + 'tv2track.php']);
            _tvq.push([function () {
                this.deleteCustomVariable(5, 'page')
            }]);
            _tvq.push(['trackPageView']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.defer = true;
            g.async = true;
            g.src = u + 'tv2track.js';
            s.parentNode.insertBefore(g, s);
        })();

        /**
         * BOOMTRAIN
         */
        !function () { function a(a) { return function () { var b = Array.prototype.slice.call(arguments); return b.unshift(a), window._bt.push(b), window._bt } } window._bt = window._bt || []; for (var b = ["track", "identify", "initialize", "clear", "setBsin", "person.set"], c = 0; c < b.length; c++) { var d = window._bt, e = b[c].split("."), f = e[0], g = f; 2 === e.length && (d[f] = d[f] || {}, d = d[f], f = e[1], g = b[c]), d[f] = a(g) } if (!document.getElementById("analyticstrain-js")) { var h = document.createElement("script"); h.type = "text/javascript", h.id = "analyticstrain-js", h.async = !0, h.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.boomtrain.com/analyticstrain-2.min.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(h, i) } }();
        _bt.initialize("50be7befc1a7ec6d2136a8dc81e82cc6");

        _bt.identify('62282142');
        _bt.person.set({ email: 'amirhoseingoorani@yahoo.com' });

    </script>
</head>

<body class="market-US">
    <div class="gloss">
        <div class="wrapper">

            <div id="container" >

                <div id="square"></div>
                <div class="content">
                    <div id="main-content" class="twocol-right">
                        <div id="get-started" class="module">
                            <div id="search-wrapper" class="margin-bottom"   style="direction: rtl; text-align: right;">
                                <form id='help-search' action="/en/help/search.php" method="get">
                                    <input id='help-q' type="text" name="helpterm" class="txt defaultText defaultTextActive"
                                           placeholder="Search our Help section"
                                           value="بخش های راهنمایی ما را جوست و جو کنید" />
                                    <input type="hidden" name="qorigin" value="support" />
                                    <input type="submit" class="buttons blue small" value="Search" />
                                </form>
                                <script>
                                    $('#help-search').bind("submit", function () {
                                        var val = $('#help-q').val();
                                        if (val.length && $('#help-q').attr("placeholder") != val) {
                                            return true;
                                        }
                                        return false;
                                    });
                                    $('#help-q').bind("focus", function () {
                                        var val = $('#help-q').val();
                                        if ($('#help-q').attr("placeholder") == val) {
                                            $('#help-q').val("");
                                        }
                                    });
                                </script>
                            </div>
                            <div class="content" style="direction: rtl; text-align: right;">
                                <h2 class="bold">در نیوبیدز تازه وارد هستید ؟ <span class="orange unbold"> از اینجا شروع کنید.</span></h2>
                                <div class="left">
                                    <div class="module">
                                        <h3 class="bold orange">چگونه کار می کند ؟</h3>
                                        <div class="content">
                                            <ul class="how-it">
                                                <li>
                                                    <span class="number"><img src="~/Content/Help_img/numbers_1.png" /></span>
                                                    <span class="text">ثبت نام و خرید پیشنهادات </span>
                                                    <span class="attachment"><img src="~/Content/Help_img/how-1.jpg" /></span>
                                                </li>
                                                <li>
                                                    <span class="number"><img src="~/Content/Help_img/numbers_2.png" /></span>
                                                    <span class="text">انتخاب محصولات </span>
                                                    <span class="attachment"><img src="~/Content/Help_img/how-2.jpg" /></span>
                                                </li>
                                                <li>
                                                    <span class="number"><img src="~/Content/Help_img/numbers_3.png" /></span>
                                                    <span class="text">ارائه پیشنهاد برای مزایده </span>
                                                    <span class="attachment"><img src="~/Content/Help_img/how-3.jpg" /></span>
                                                </li>
                                                <li>
                                                    <span class="number"><img src="~/Content/Help_img/numbers_4.png" /></span>
                                                    <span class="text">برنده شدن یا اکنون خریدن</span>
                                                    <span class="attachment"><img src="~/Content/Help_img/how-4.jpg" /></span>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div><!--left-->
                                <div class="right">
                                    <p>
                                        <strong>در حال حاضر سوالی دارید که پاسخ داده شود؟</strong><br>
                                        در زیر از راهنمایی ها و نکات ما بازدید کنید. اگر جواب شما در بین آنها وجود ندارد، از بخشهای فعال نظرات و ایده های مشتری ما بازدید کنید. احتمالا سؤال شما قبلا در آنجا پاسخ داده شده است.
                                    </p>
                                    <ul class="faq-lists">
                                        <li><a href="/Home/HelpDescription">نیوبیدز چگونه کار می کند؟</a></li>
                                        <li><a href="/Home/HelpDescription">What is Buy Now?</a></li>
                                        <li><a href="/Home/HelpDescription">بهترین راه برای برنده شدن در مزایده چیست؟</a></li>
                                        <li><a href="/Home/HelpDescription">چگونه QuiBids را تلفظ می کنید؟</a></li>
                                        <li><a href="/Home/HelpDescription">چگونه Bid-O-Matic کار می کند؟</a></li>
                                        <li><a href="/Home/HelpDescription">برای ارائه پیشنهاد مزایده چقدر هزینه می پردازید؟</a></li>
                                        <li><a href="/Home/HelpDescription">آیا همه می توانند برنده شوند؟</a></li>
                                        <li><a href="/Home/HelpDescription">آیا محصولات جدید و دارای نام تجاری معتبر هستند؟</a></li>
                                    </ul>
                                </div><!--right-->
                            </div><!--content-->
                        </div><!--get-started-->



                    </div>

                    <div id="side-content" class="twocol-right">

                        <div class="module">
                            <h3><img class="icon-spacing" src="~/Content/Help_img/help-support.png" /> راهنمایی</h3>
                            <div class="content">
                                <ul class="sidenav">
                                    <li>
                                        <a class="active"
                                           href="/Home/Help">
                                            راهنمایی و سوالات متداول
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/HelpDescription">
                                            چگونه کار می کند؟
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/HelpDescription">
                                            پشتیبانی مشتریان
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/HelpDescription">
                                            قوانین و مقررات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/HelpDescription">
                                            شرایط سایت چگونه است؟
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!--module-->
                        <div class="module">
                            <h3><img class="refer-icon" src="~/Content/img/Layout/contact-icon.png" /> تماس با پشتیبانی</h3>
                            <div class="content">
                                <p>
                                    آیا سؤالی دارید؟ ما پاسخ ها را در اختیار داریم.برای راه حل های ساده، بخش  ،
                                    <a href="/Home/HelpDescription">راهنمای</a>
                                    دسترسی آسان با ما را بررسی کنید. برای شرایط دشوار
                                    <a href="#">به چت زنده وصل شوید</a>
                                    یا درخواست پشتیبانی زیر را ارسال کنید.
                                </p>
                                <p class="center"><a href="/Home/HelpDescription" class="buttons medium blue">تماس با پشتیبانی</a></p>
                            </div>
                        </div><!--module-->
                    </div><!--side-content-->


                    <div class="content faqs"   style="direction: rtl; text-align: right;">
                        <h2 class="grey bold">سوالات متداول</h2>
                        <div id="sections">
                            <div class='left module'>
                                <h3 class='faq_name8'>
                                    <a href='/Home/HelpDescription'>
                                        <span class='faq_name8 faq-sprite'>
                                        </span>مزایده ها
                                    </a>
                                </h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li><a href="/Home/HelpDescription">من در یک مزایده  برنده شده ام! اکنون چه کاری باید بکنم ؟ </a></li>
                                        <li><a href="/Home/HelpDescription">؟ چگونه می توانم کوپن ها را بفروشم؟ </a></li>
                                        <li><a href="/Home/HelpDescription">چه موقع یک مزایده  پایان می یابد؟</a></li>
                                        <li><a href="/Home/HelpDescription">چرا زمان به ساعت مزایده اضافه می شود؟</a></li>
                                        <li><a href="/Home/HelpDescription">چه موقع /و چگونه می توانم محصول خودم را انتخاب کنم؟</a></li>
                                    </ul>
                                    <p><a href="/Home/HelpDescription" class="view-more bold">بیشتر ببینید </a></p>
                                </div>
                            </div><!--left-->
                            <div class='right module'>
                                <h3 class='faq_name10'>
                                    <a href='/Home/HelpDescription'>
                                        <span class='faq_name10 faq-sprite'></span>شرکت در مزایده
                                    </a>
                                </h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li><a href="/Home/HelpDescription">عملکرد مزایده چگونه است؟</a></li>
                                        <li><a href="/Home/HelpDescription">چگونه می توان سفارشات را خریداری کرد؟</a></li>
                                        <li><a href="/Home/HelpDescription">What are Real Bids?</a></li>
                                        <li><a href="/Home/HelpDescription">What are Voucher Bids?</a></li>
                                        <li><a href="/Home/HelpDescription">Do my Real Bids expire?</a></li>
                                    </ul>
                                    <p><a href="/Home/HelpDescription" class="view-more bold">بیشتر ببینید </a></p>
                                </div>
                            </div><!--right-->
                            <div class='left module'>
                                <h3 class='faq_name11'><a href='/Home/HelpDescription'><span class='faq_name11 faq-sprite'></span>حمل و نقل و تحویل</a></h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li><a href="/Home/HelpDescription">سفارش من کجاست؟ </a></li>
                                        <li><a href="/Home/HelpDescription">چگونه می توانم محموله های خود را پیگیری کنم؟ </a></li>
                                        <li><a href="/Home/HelpDescription">تحویل</a></li>
                                        <li><a href="/Home/HelpDescription">سیاست بین المللی حمل و نقل </a></li>
                                        <li><a href="/Home/HelpDescription">نرخ و قیمت حمل و نقل چه مقدار است؟</a></li>
                                    </ul>
                                    <p><a href="/Home/HelpDescription" class="view-more bold">بیشتر ببینید </a></p>
                                </div>
                            </div><!--left-->
                            <div class='right module'>
                                <h3 class='faq_name9'>
                                    <a href='/Home/HelpDescription'><span class='faq_name9 faq-sprite'></span>حساب کاربری من</a>
                                </h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li><a href="/Home/HelpDescription">چگونه می توانم رمز عبور خود را عوض کنم؟</a></li>
                                        <li><a href="/Home/HelpDescription">رمز عبور و نام کاربری خود را فراموش کرده ام.چه کار می توانم بکنم؟</a></li>
                                        <li><a href="/Home/HelpDescription">چگونه می توانم اولویت های پست الکترونیکی (ایمیل) خود را تغییر دهم؟</a></li>
                                        <li><a href="/Home/HelpDescription">How do I change my username?</a></li>
                                        <li><a href="/Home/HelpDescription">چگونه می توانم آدرس خود را عوض کنم یا یک آدرس جدید را اضافه کنم؟</a></li>
                                    </ul>
                                    <p><a href="/Home/HelpDescription" class="view-more bold">بیشتر ببینید</a></p>
                                </div>
                            </div><!--right-->
                            <div class='left module'>
                                <h3 class='faq_name12'>
                                    <a href='/Home/HelpDescription'><span class='faq_name12 faq-sprite'></span>موارد متفرقه</a>
                                </h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li><a href="/Home/HelpDescription">چگونه می توانم مبلغ را پرداخت کنم؟ </a></li>
                                        <li><a href="/Home/HelpDescription">معامله معلق یا در حال انتظار چیست؟</a></li>
                                        <li><a href="/Home/HelpDescription">چه محدودیت هایی وجود دارد؟ </a></li>
                                        <li><a href="/Home/HelpDescription">از کجا باید سوالات خود را ارسال کنم؟</a></li>
                                        <li><a href="/Home/HelpDescription">چه چیزی برای یک بررسی خوب مورد نیازاست؟</a></li>
                                    </ul>
                                    <p>
                                        <a href="/Home/HelpDescription" class="view-more bold">بیشتر ببینید </a>
                                    </p>
                                </div>
                            </div><!--left-->
                            <div class='right module'>
                                <h3 class='faq_name16'>
                                    <a href='/Home/HelpDescription'>
                                        <span class='faq_name16 faq-sprite'></span>نشان های عضویت
                                    </a>
                                </h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li><a href="/Home/HelpDescription">نشان های عضویت چه هستند؟ </a></li>
                                        <li><a href="/Home/HelpDescription">چگونه نشان ها را بدست می آورم؟</a></li>
                                        <li><a href="/Home/HelpDescription">چگونه نشان ها را مطالبه کنم؟ </a></li>
                                        <li><a href="/Home/HelpDescription">چگونه می توانم بدانم که برنده یک نشان عضویت شده ام ؟</a></li>
                                        <li><a href="/Home/HelpDescription">چه مدت زمانی باید صبر کنم تا نشان را مطالبه کنم؟</a></li>
                                    </ul>
                                    <p><a href="/Home/HelpDescription" class="view-more bold">بیشتر ببینید</a></p>
                                </div>
                            </div><!--right-->
                            <div class='left module'>
                                <h3 class='faq_name13'>
                                    <a href='/Home/HelpDescription'><span class='faq_name13 faq-sprite'></span>امنیت</a>
                                </h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li>
                                            <a href="/Home/HelpDescription">خطرات ایمیل های ساختگی و تقلبی یا ایمیل های جعلی چیست؟</a>
                                        </li>
                                        <li><a href="/Home/HelpDescription">اطلاعیه امنیتی: گذرواژه خود را از طریق ایمیل یا تلفن ارسال نکنید!  </a></li>
                                        <li><a href="/Home/HelpDescription">یک ایمیل دریافت کرده ام که مشکوک به نظر می رسد. چه کاری باید انجام دهم؟</a></li>
                                        <li><a href="/Home/HelpDescription">چگونه می توانم یک ایمیل جعلی در مورد یک درخواست برای پرداخت را شناسایی کرده و تشخیص دهم؟</a></li>
                                        <li><a href="/Home/HelpDescription">امنیت در روش پرداخت</a></li>
                                    </ul>
                                </div>
                            </div><!--left-->
                            <div class='right module'>
                                <h3 class='faq_name14'>
                                    <a href='/Home/HelpDescription'><span class='faq_name14 faq-sprite'></span>مشکلات فنی</a>
                                </h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li>
                                            <a href="/Home/HelpDescription">الزامات توصیه شده رایانه ای</a>
                                        </li>
                                        <li><a href="/Home/HelpDescription">چرا پیشنهاد من  در مزایده ثبت نشده است؟ </a></li>
                                        <li><a href="/Home/HelpDescription">چه اتفاقی می افتد اگر خرابی یا توقف در مزایده وجود داشته باشد؟</a></li>
                                        <li><a href="/Home/HelpDescription">من از یک مرورگر AOL استفاده می کنم و به من اجازه نمی دهد که پیشنهاد بدهم. </a></li>
                                        <li><a href="/Home/HelpDescription">چگونه کوکی ها را فعال کنم؟</a></li>
                                    </ul>
                                </div>
                            </div><!--right-->
                            <div class='left module'>
                                <h3 class='faq_name17'>
                                    <a href='/Home/HelpDescription'>
                                        <span class='faq_name17 faq-sprite'></span>برترین سوالات سایت
                                    </a>
                                </h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li><a href="/Home/HelpDescription">چرا در زمانی که یک کاربر پیشنهاد می دهد، تایمر در آخرین ثانیه ، تنظیم مجدد می شود؟</a></li>
                                        <li><a href="/Home/HelpDescription">؟ چرا QuiBids هزینه ای برای شرکت در مزایده ارائه می کند؟</a></li>
                                        <li><a href="/Home/HelpDescription">آیا QuiBids به عنوان یک قرعه کشی یا قمار در نظر گرفته می شود؟</a></li>
                                        <li>
                                            <a href="/Home/HelpDescription">
                                                من اخیرا پیشنهاداتی در یک مزایده ارائه کرده ام  و پیروز نشدم.
                                                آیا می توانم آن پیشنهادات استفاده شده را بازیابی کنم؟
                                            </a>
                                        </li>
                                        <li><a href="/Home/HelpDescription">من Bid-O-Matic خود را تنظیم کردم اما مزایده پایان یافت. چرا Bid-O-Matic من کار نکرد و انجام نشد ؟ آیا من همه پیشنهادات مزایده ها را از دست داده ام؟</a></li>
                                    </ul>
                                    <p><a href="/Home/HelpDescription" class="view-more bold">بیشتر ببینید </a></p>
                                </div>
                            </div><!--left-->
                            <div class='right module'>
                                <h3 class='faq_name27'>
                                    <a href='/Home/HelpDescription'><span class='faq_name27 faq-sprite'></span>بازی ها</a>
                                </h3>
                                <div class='content'>
                                    <ul class='faq-lists'>
                                        <li><a href="/Home/HelpDescription">بازی QuiBids چیست؟</a></li>
                                        <li><a href="/Home/HelpDescription">چگونه می توانم بازی ها را ببرم؟ </a></li>
                                        <li><a href="/Home/HelpDescription">کدام یک از پیشنهاد های من با بازی QuiBids برنده می شود؟ </a></li>
                                        <li><a href="/Home/HelpDescription">چند برابرکننده چیست؟ </a></li>
                                        <li><a href="/Home/HelpDescription">آیا اصلا گیم پلی من منقضی خواهد شد؟</a></li>
                                    </ul>
                                    <p><a href="/Home/HelpDescription" class="view-more bold">بیشتر ببینید </a></p>
                                </div>
                            </div><!--right-->
                            <div style='clear:both'></div>
                            <div class="search-scroll"></div>

                        </div>
                    </div><!--faq-list-->

                    <div class="search-scroll"><p><a href="#" class="back-top bold">بازگشت به بالا</a></p></div>

                </div>
            </div><!--container-->



        </div><!--wrapper-->
    </div><!--gloss-->

    <script type="text/javascript">
        $(function () {
            var anchor = $('#languageSelector').find('a');
            anchor.click(function () {
                var dialog = $('#languageSelectorPopup').dialog({
                    modal: true,
                    title: _t.display('select_your_language', 'Select Your Language'),
                    width: 400,
                    height: 200,
                    resizable: false
                });
            });
        });
    </script>

    <script>
        $(function () {
            window.fbAsyncInit = function () {
                FB.init({ appId: '157008871005117', status: true, cookie: true, xfbml: true });
            };

            $('body').append('<div id="fb-root"></div>');

            $.getScript(document.location.protocol + '//connect.facebook.net/en_US/all.js');
        })
    </script>

    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

</body>

<!--[if IE]>
<style type="text/css">
.qbarmygames li span {padding-top: 4px!important; height: 18px!important;}
</style>
<![endif]-->

