
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


@*<------------------------------------------------------------------------------>*@
    <link rel="stylesheet" href="~/Content/Style.css">
    
    <link rel="stylesheet" href="~/fontawesome/css/all.css">

<style>
    body {
        font-family: lato;
    }


    .button {
        width: 100%;
        background-color: #00ff21;
        color: white;
        padding: 20px;
        border: none;
        border-radius: 3px;
        font-size: 3px;
        cursor: pointer;
    }

    .login {
        width: 40%;
        display: block;
        margin: auto;
    }

    .Modal {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(61, 255, 86, 0.4);
        width: 100%;
        height: 100%;
        display: none;
    }

    .Modal-content {
        width: 35%;
        background-color: #555;
        margin: 20% auto 15% auto;
        border-radius: 3px;
        box-shadow: 0 0 15px #555;
        padding: 20px;
        animation: zoom 0.7s;
    }

    .Modal-img {
        text-align: center;
        position: relative;
        margin: 20px 0 10px 0;
        margin-bottom: 20px;
    }

        .Modal-img img {
            width: 50%;
            box-shadow: 0 0 15px #555;
            border-radius: 50%;
        }

    .close {
        position: absolute;
        right: 20px;
        top: 5px;
        font-size: 35px;
        background: #00ff21;
        color: chartreuse;
        padding: 15px 15px;
        border-radius: 50%;
        cursor: pointer;
    }

    input[type=text]input[type=password] {
        width: 100%;
        padding: 20px;
        font-family: lato;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-bottom: 15px;
    }

    @@keyframes zoom {
        form {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
    }
</style>


<body>


    <button class="login">ورود</button>

    <div class="Modal">
        <form class="Modal-content">
            <h1>ورود به سایت</h1>

            <div class="Modal-img">
                <span class="fade fa-times close"></span>
                <img src="~/Content/img/login-gov-288x288.png" alt="" />

            </div>
            <div class="Modal-contaner">
                <input type="text" placeholder="نام کاربری" />
                <input type="password" placeholder="رمز عبور" />
                <button type="submit">ورود</button><br><br>
                <input type="checkbox" checked>مرا به خاطر بسپار

            </div>

        </form>
    </div>

    @*<script src="~/Scripts/loginstyle.js"></script>*@
    <script>
        var login = document.querySelectorAll('.login')[0];
        var Modal = document.querySelectorAll('.Modal')[0];
        var close = document.querySelectorAll('.close')[0];

        login.onclick = function () {
            Modal.style.display = 'block';
        }
        close.onclick = function () {
            modal.style.display = 'none';
        }
    </script>

</body>
