
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>My Account Information - QuiBids.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="account information" />
    <meta name="description" content="My Account Information" />
    <link href="https://dcfv5z6t7wfeu.cloudfront.net/site/cache/css/libraries/jqueryui.css?1448853474" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://dcfv5z6t7wfeu.cloudfront.net/site/cache/css/main.css?1448853474" rel="stylesheet" type="text/css" media="screen" />
    <link rel="shortcut icon" href="https://dcfv5z6t7wfeu.cloudfront.net/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://dcfv5z6t7wfeu.cloudfront.net/apple-touch-icon.png" />

    <!--[if IE]>
    <link href="https://dcfv5z6t7wfeu.cloudfront.net/site/cache/css/ie.css?1448853474" rel="stylesheet" type="text/css" media="screen" />
    <![endif]-->
    <link rel="stylesheet" href="https://dcfv5z6t7wfeu.cloudfront.net/site/cache/css/myquibids.css?1448853474" type="text/css" />
    <link rel="stylesheet" href="https://dcfv5z6t7wfeu.cloudfront.net/site/cache/css/qbar.css?1448853474" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://dcfv5z6t7wfeu.cloudfront.net/site/cache/js/translation.js?1448853474"></script>
    <script type="text/javascript" src="https://dcfv5z6t7wfeu.cloudfront.net/site/cache/js/site.js?1448853474"></script>
    <script type="text/javascript" src="https://dcfv5z6t7wfeu.cloudfront.net/site/cache/js/qbar.js?1448853474"></script>
    <script type='text/javascript'>
    loggedIn = true; accountUsername = '272620'; mm = 100; var _gaq = _gaq || [];
        _gaq.push(
            ['_setAccount', 'UA-10065556-11'],
            ['_trackPageview'],
            ['_setCustomVar', 1, 'CSL', '1', 1],
            ['_setCustomVar', 5, 'LA', '30', 1],
            ['_setCustomVar', 2, 'LoggedIn', 'Yes', 2], ['b._setAccount', 'UA-10065556-1'],
            ['b._trackPageview']
        );
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();


        /* Begin TVSquared Tracking Code */
        var _tvq = window._tvq = window._tvq || [];
        (function () {
            var u = (("https:" == document.location.protocol) ? "https://collector-4492.tvsquared.com/" : "http://collector-4492.tvsquared.com/");
            _tvq.push(['setSiteId', "TV-54540972-1"]);
            _tvq.push(['setTrackerUrl', u + 'tv2track.php']);
            _tvq.push([function () {
                this.deleteCustomVariable(5, 'page')
            }]);
            _tvq.push(['trackPageView']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.defer = true;
            g.async = true;
            g.src = u + 'tv2track.js';
            s.parentNode.insertBefore(g, s);
        })();

        /**
         * BOOMTRAIN
         */
        !function () { function a(a) { return function () { var b = Array.prototype.slice.call(arguments); return b.unshift(a), window._bt.push(b), window._bt } } window._bt = window._bt || []; for (var b = ["track", "identify", "initialize", "clear", "setBsin", "person.set"], c = 0; c < b.length; c++) { var d = window._bt, e = b[c].split("."), f = e[0], g = f; 2 === e.length && (d[f] = d[f] || {}, d = d[f], f = e[1], g = b[c]), d[f] = a(g) } if (!document.getElementById("analyticstrain-js")) { var h = document.createElement("script"); h.type = "text/javascript", h.id = "analyticstrain-js", h.async = !0, h.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.boomtrain.com/analyticstrain-2.min.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(h, i) } }();
        _bt.initialize("50be7befc1a7ec6d2136a8dc81e82cc6");

        _bt.identify('62282142');
        _bt.person.set({ email: 'amirhoseingoorani@yahoo.com' });

    </script>


</head>

<body class="market-US">



    <div class="gloss">
        <div id="topbar">
            <div class="wrapper">

                <div class="login">

                    <ul class="show">
                        <li>Hi Amirhosein</li>
                        <span>|</span>




                        <li class="tooltip-bottom" title="0 Real / 0 Voucher" id="template_bidsavailable_full">
                            <img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/layout/coins.png"
                                 class="bids-icon">
                            <a href="/en/account/dashboard/bid-credit-history.php" class="bids"
                               id="template_bidsavailable_click">
                                <span id="template_bidsavailable"
                                      style="width:25px">0</span>
                                Bids
                            </a>
                        </li>
                        <span>|</span>
                        <li>
                            <a href="https://www.quibids.com/en/account/logout.php">Sign Out</a>
                        </li>

                    </ul>

                    <div id="cart-panel">
                        <div id="cart-confirmation">
                            <h4>
                                <img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/auction-icons/checkmark-circle.png" />
                                Added to Cart!
                            </h4>
                        </div>
                        <ul class="cart"></ul>
                        <p class="right">
                            <a href="#"
                               class="buttons orange medium">Checkout</a>
                        </p>
                    </div>
                    <!--cart-panel-->

                </div>
                <!--login-->


            </div>
            <!--wrapper-->
        </div><!--topbar-->
        <div class="wrapper">
            <header>
                <div id="logo" class="logoads">
                    <h1><a href="/en/">QuiBids</a></h1>
                </div>
                <!--logo-->



            </header>
            <!--header-->
            <div id='nav'>
                <ul id="mainnav">
                    <li id='browse-menu-btn'><a href="/en/">Browse						<img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/icons/down-arrow.png" /></a></li>

                    <li>
                        <a href="https://www.quibids.com/en/account/" class='active'>My QuiBids</a>
                    </li>

                    <li>
                        <a href="http://www.quibids.com/en/gameplay/">Games</a>
                    </li>

                    <li>
                        <a href="http://www.quibids.com/en/badges/">Badges</a>
                    </li>

                    <li>
                        <a href="https://www.quibids.com/en/store/bids.php">Buy Bids</a>
                    </li>

                    <li>
                        <a href="http://www.quibids.com/en/quibids101/">QuiBids 101</a>
                    </li>

                    <li>
                        <a href="http://www.quibids.com/en/help/">Help</a>
                    </li>

                </ul>
                <script>
                    $(document).ready(function () {
                        var BrowseMenu = new Class_BrowseMenu();
                        BrowseMenu.init();

                    });
                </script>
                <style>
                    #browse-menu {
                        width: 190px;
                        height: 350px;
                        /* box-shadow: 2px 2px 3px #bbbbbb; */
                    }

                        #browse-menu .browse-links .nav {
                            width: 190px;
                            background: url(https://dcfv5z6t7wfeu.cloudfront.net//site/images/layout/module-white.jpg) white left bottom repeat-x;
                            border: solid 1px #D1D1D1;
                            -webkit-border-radius: 0px 0px 8px 8px;
                            border-radius: 0px 0px 8px 8px;
                            -webkit-box-shadow: 0px 1px 6px 0px #CDCDCD;
                            -moz-box-shadow: 0px 1px 6px 0px #CDCDCD;
                            box-shadow: 0px 1px 6px 0px #CDCDCD;
                            padding: 10px 0;
                            position: relative;
                            z-index: 3002;
                            margin-left: 10px;
                        }

                            #browse-menu .browse-links .nav:after {
                                content: ".";
                                display: block;
                                clear: both;
                                visibility: hidden;
                                height: 0;
                                line-height: 0;
                            }

                            #browse-menu .browse-links .nav h2 {
                                padding: 0 15px;
                                margin: 0;
                                color: #FF7400;
                                font-family: Myriad, "Myriad Pro", Arial;
                                font-size: 20px;
                                font-weight: bold;
                                letter-spacing: .02em;
                            }

                            #browse-menu .browse-links .nav .store-header {
                                float: left;
                                margin-top: 20px;
                            }

                        #browse-menu a {
                            cursor: pointer;
                        }

                        #browse-menu h2, #browse-menu h3 {
                            cursor: default;
                        }

                        /* popout menu*/
                        #browse-menu .browse-links .menu-data > * {
                            position: absolute;
                            top: 5px;
                            left: 190px;
                            width: 340px;
                            background: url(https://dcfv5z6t7wfeu.cloudfront.net//site/images/layout/module-white.jpg) white left bottom repeat-x;
                            border: 1px solid #dddddd;
                            padding: 15px 0 10px 25px;
                            border: solid 1px #D1D1D1;
                            -webkit-border-radius: 0px 8px 8px 0px;
                            border-radius: 0px 8px 8px 0px;
                            -webkit-box-shadow: 0px 1px 6px 0px #CDCDCD;
                            -moz-box-shadow: 0px 1px 6px 0px #CDCDCD;
                            box-shadow: 0px 1px 6px 0px #CDCDCD;
                            z-index: 3001;
                        }

                    .menu_sub_browse {
                        top: auto !important;
                        bottom: 5px;
                    }

                    #browse-menu .browse-links .menu-data h3 {
                        padding: 0;
                        margin: 0;
                        font-weight: bold;
                    }

                    #browse-menu .browse-links .menu_sub_auctions {
                        height: 275px;
                    }

                    #browse-menu .browse-links .menu_sub_browse {
                        height: 290px;
                        margin-top: 148px
                    }

                    .megamenu-image {
                        position: absolute;
                        bottom: 0;
                        right: 45px;
                        top: 160px;
                    }


                    .megamenu-sub-2 {
                        padding-bottom: 170px;
                    }

                    #menu-auctions, #menu-store {
                        width: 190px;
                        padding: 10px 15px;
                    }

                        #menu-auctions li, #menu-store li {
                            background: url(https://dcfv5z6t7wfeu.cloudfront.net//site/images/layout/arrow.gif) no-repeat 90% 50%;
                            padding: 0 15px;
                            margin: 0;
                        }

                            #menu-auctions li:hover, #menu-store li:hover {
                                background: url(https://dcfv5z6t7wfeu.cloudfront.net//site/images/layout/arrow-right.gif) no-repeat 90% 50%;
                            }

                    #browse-menu ul li a:hover, #browse-menu ul li a:hover {
                        color: #4f4f4f;
                        font-weight: bold;
                    }

                    #browse-menu .browse-links .nav #menu-auctions li a, #browse-menu .browse-links .nav #menu-store li a {
                        width: 170px;
                        margin-left: 15px;
                    }

                    #brand_browse {
                        font-family: Myriad, "Myriad Pro", Arial, Helvetica;
                        height: 30px;
                        font-size: 14px;
                    }

                    #category_browse {
                        font-family: Myriad, "Myriad Pro", Arial, Helvetica;
                        height: 30px;
                        font-size: 14px;
                    }

                    #menu-list-items {
                        overflow: hidden;
                        width: 155px;
                    }

                        #menu-list-items li {
                            line-height: 23px;
                            margin: 0;
                            padding: 0;
                        }
                </style>
                <div id="browse-menu">
                    <div class="browse-links">
                        <div class="nav">


                            <h2>Live Auctions</h2>
                            <ul id='menu-auctions' style="overflow:hidden;padding-bottom:20px;">
                                <li class="no-children"><span class="menu_link" id="menu_1"><a href="/en/">All Live Auctions</a></span></li>
                                <li class="no-children"><span class="menu_link" id="menu_2"><a href="/en/auctions-watch-list/">Watchlist</a></span></li>
                                <li class="has-children"><span class="menu_link" id="menu_3"><a href="/category-2352-electronics/">Electronics</a></span></li>
                                <li class="has-children"><span class="menu_link" id="menu_4"><a href="/category-4087-home-and-garden/">Home & Garden</a></span></li>
                                <li class="has-children"><span class="menu_link" id="menu_5"><a href="/category-8932-jewelry-and-fashion/">Jewelry & Fashion</a></span></li>
                                <li class="has-children"><span class="menu_link" id="menu_6"><a href="/category-5492-sports-and-recreation/">Sports & Recreation</a></span></li>
                                <li class="no-children"><span class="menu_link" id="menu_7"><a href="/category-9886-specialty-shops/">Specialty Shops</a></span></li>
                                <li class="has-children"><span class="menu_link" id="menu_8"><a href="/category-17-gift-cards/">Gift Cards</a></span></li>
                                <li class="no-children"><span class="menu_link" id="menu_9"><a href="/category-12-vouchers-and-limit-busters/">Vouchers & Limit Busters</a></span></li>
                                <li class="no-children"><span class="menu_link" id="menu_10"><a href="/en/auctions-completed/">Recently Completed</a></span></li>
                            </ul>
                            <p style="width:85%;border-bottom:1px solid #d2d2d2;margin:0 15px;padding:0;"></p>
                            <h2 class="store-header">Store</h2>
                            <ul id='menu-store'>
                                <li><span class="menu_link" id="menu_11"><a href="/browse-2352-electronics/">Electronics</a></span></li>
                                <li><span class="menu_link" id="menu_12"><a href="/browse-4087-home-and-garden/">Home & Garden</a></span></li>
                                <li><span class="menu_link" id="menu_13"><a href="/browse-8932-jewelry-and-fashion/">Jewelry & Fashion</a></span></li>
                                <li><span class="menu_link" id="menu_14"><a href="/browse-5492-sports-and-recreation/">Sports & Recreation</a></span></li>
                                <li class="no-children"><span class="menu_link" id="menu_15"><a href="/browse-9886-specialty-shops/">Specialty Shops</a></span></li>
                                <li><span class="menu_link" id="menu_16"><a href="/browse-17-gift-cards/">Gift Cards</a></span></li>
                            </ul>
                        </div>

                        <div class="menu-data" id="menu_wrap">

                            <div id="menu_3_sub" class="menu_browse_subs menu_sub_auctions" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-2387-electronics/computers-and-tablets/">Computers & Tablets</a></li><li><a href="/category-2367-electronics/camera-and-photo/">Camera & Photo</a></li><li><a href="/category-2357-electronics/tv-and-video/">TV & Video</a></li><li><a href="/category-2377-electronics/portable-electronics/">Portable Electronics</a></li><li><a href="/category-2362-electronics/home-audio/">Home Audio</a></li><li><a href="/category-2382-electronics/video-games/">Video Games</a></li><li><a href="/category-2402-electronics/musical-instruments/">Musical Instruments</a></li><li><a href="/category-2397-electronics/office-equipment/">Office Equipment</a></li><li><a href="/category-2372-electronics/car-electronics/">Car Electronics</a></li><li><a href="/category-2392-electronics/cell-phones/">Cell Phones</a></li><li><a href="/category-2352-electronics/">All Electronics</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-2352-electronics/?b=2">Apple</a></li><li><a href="/category-2352-electronics/?b=1">Sony</a></li><li><a href="/category-2352-electronics/?b=134">Canon</a></li><li><a href="/category-2352-electronics/?b=728">Samsung</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/auctions-electronics-001.jpg" /></div></div><div id="menu_4_sub" class="menu_browse_subs menu_sub_auctions" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-10396-home-and-garden/fragrance/">Fragrance</a></li><li><a href="/category-4092-home-and-garden/kitchen-and-dining/">Kitchen & Dining</a></li><li><a href="/category-4097-home-and-garden/housewares/">Housewares</a></li><li><a href="/category-4112-home-and-garden/home-furnishings/">Home Furnishings</a></li><li><a href="/category-4117-home-and-garden/outdoor-and-patio/">Outdoor & Patio</a></li><li><a href="/category-4102-home-and-garden/bedding-and-bath/">Bedding & Bath</a></li><li><a href="/category-4107-home-and-garden/health-and-personal/">Health & Personal</a></li><li><a href="/category-4122-home-and-garden/tools-and-garden/">Tools & Garden</a></li><li><a href="/category-4087-home-and-garden/">All Home & Garden</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-4087-home-and-garden/?b=189">Cuisinart</a></li><li><a href="/category-4087-home-and-garden/?b=230">Dyson</a></li><li><a href="/category-4087-home-and-garden/?b=109">Breville</a></li><li><a href="/category-4087-home-and-garden/?b=434">KitchenAid</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/auctions-home-001.png" /></div></div><div id="menu_5_sub" class="menu_browse_subs menu_sub_auctions" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-9561-jewelry-and-fashion/apparel-and-accessories/">Apparel & Accessories</a></li><li><a href="/category-8987-jewelry-and-fashion/handbags-and-wallets/">Handbags & Wallets</a></li><li><a href="/category-9506-jewelry-and-fashion/jewelry-and-watches/">Jewelry & Watches</a></li><li><a href="/category-8932-jewelry-and-fashion/">All Jewelry & Fashion</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-8932-jewelry-and-fashion/?b=3101">Citizen</a></li><li><a href="/category-8932-jewelry-and-fashion/?b=574">Nike</a></li><li><a href="/category-8932-jewelry-and-fashion/?b=533">Michael Kors</a></li><li><a href="/category-8932-jewelry-and-fashion/?b=152">Coach</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/auctions-jewelry-001.jpg" /></div></div><div id="menu_6_sub" class="menu_browse_subs menu_sub_auctions" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-5632-sports-and-recreation/golf/">Golf</a></li><li><a href="/category-5502-sports-and-recreation/recreation/">Recreation</a></li><li><a href="/category-6352-sports-and-recreation/remote-control/">Remote Control</a></li><li><a href="/category-5507-sports-and-recreation/sports-gear/">Sports Gear</a></li><li><a href="/category-5497-sports-and-recreation/games-and-toys/">Games & Toys</a></li><li><a href="/category-5492-sports-and-recreation/">All Sports & Recreation</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-5492-sports-and-recreation/?b=123">Bushnell</a></li><li><a href="/category-5492-sports-and-recreation/?b=128">Callaway</a></li><li><a href="/category-5492-sports-and-recreation/?b=574">Nike</a></li><li><a href="/category-5492-sports-and-recreation/?b=826">TaylorMade</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/auctions-sports-001.jpg" /></div></div><div id="menu_8_sub" class="menu_browse_subs menu_sub_auctions" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-212-gift-cards/10-gift-cards/">$10 Gift Cards</a></li><li><a href="/category-213-gift-cards/15-gift-cards/">$15 Gift Cards</a></li><li><a href="/category-214-gift-cards/25-gift-cards/">$25 Gift Cards</a></li><li><a href="/category-216-gift-cards/50-gift-cards/">$50 Gift Cards</a></li><li><a href="/category-17-gift-cards/">All Gift Cards</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/category-17-gift-cards/?b=6282">The Home Depot</a></li><li><a href="/category-17-gift-cards/?b=6456">Shell</a></li><li><a href="/category-17-gift-cards/?b=6387">Outback</a></li><li><a href="/category-17-gift-cards/?b=6522">Walmart</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/auctions-cards-001.png" /></div></div><div id="menu_11_sub" class="menu_browse_subs menu_sub_browse" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-2387-electronics/computers-and-tablets/">Computers & Tablets</a></li><li><a href="/browse-2367-electronics/camera-and-photo/">Camera & Photo</a></li><li><a href="/browse-2357-electronics/tv-and-video/">TV & Video</a></li><li><a href="/browse-2377-electronics/portable-electronics/">Portable Electronics</a></li><li><a href="/browse-2362-electronics/home-audio/">Home Audio</a></li><li><a href="/browse-2382-electronics/video-games/">Video Games</a></li><li><a href="/browse-2402-electronics/musical-instruments/">Musical Instruments</a></li><li><a href="/browse-2397-electronics/office-equipment/">Office Equipment</a></li><li><a href="/browse-2372-electronics/car-electronics/">Car Electronics</a></li><li><a href="/browse-2392-electronics/cell-phones/">Cell Phones</a></li><li><a href="/browse-2352-electronics/">All Electronics</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-2352-electronics/?b=2">Apple</a></li><li><a href="/browse-2352-electronics/?b=1">Sony</a></li><li><a href="/browse-2352-electronics/?b=134">Canon</a></li><li><a href="/browse-2352-electronics/?b=728">Samsung</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/store-electronics-001.jpg" /></div></div><div id="menu_12_sub" class="menu_browse_subs menu_sub_browse" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-10396-home-and-garden/fragrance/">Fragrance</a></li><li><a href="/browse-4092-home-and-garden/kitchen-and-dining/">Kitchen & Dining</a></li><li><a href="/browse-4097-home-and-garden/housewares/">Housewares</a></li><li><a href="/browse-4112-home-and-garden/home-furnishings/">Home Furnishings</a></li><li><a href="/browse-4117-home-and-garden/outdoor-and-patio/">Outdoor & Patio</a></li><li><a href="/browse-4102-home-and-garden/bedding-and-bath/">Bedding & Bath</a></li><li><a href="/browse-4107-home-and-garden/health-and-personal/">Health & Personal</a></li><li><a href="/browse-4122-home-and-garden/tools-and-garden/">Tools & Garden</a></li><li><a href="/browse-4087-home-and-garden/">All Home & Garden</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-4087-home-and-garden/?b=189">Cuisinart</a></li><li><a href="/browse-4087-home-and-garden/?b=230">Dyson</a></li><li><a href="/browse-4087-home-and-garden/?b=109">Breville</a></li><li><a href="/browse-4087-home-and-garden/?b=434">KitchenAid</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/auctions-home-001.png" /></div></div><div id="menu_13_sub" class="menu_browse_subs menu_sub_browse" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-9561-jewelry-and-fashion/apparel-and-accessories/">Apparel & Accessories</a></li><li><a href="/browse-8987-jewelry-and-fashion/handbags-and-wallets/">Handbags & Wallets</a></li><li><a href="/browse-9506-jewelry-and-fashion/jewelry-and-watches/">Jewelry & Watches</a></li><li><a href="/browse-8932-jewelry-and-fashion/">All Jewelry & Fashion</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-8932-jewelry-and-fashion/?b=3101">Citizen</a></li><li><a href="/browse-8932-jewelry-and-fashion/?b=574">Nike</a></li><li><a href="/browse-8932-jewelry-and-fashion/?b=533">Michael Kors</a></li><li><a href="/browse-8932-jewelry-and-fashion/?b=152">Coach</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/store-jewelry-001.jpg" /></div></div><div id="menu_14_sub" class="menu_browse_subs menu_sub_browse" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-5632-sports-and-recreation/golf/">Golf</a></li><li><a href="/browse-5502-sports-and-recreation/recreation/">Recreation</a></li><li><a href="/browse-6352-sports-and-recreation/remote-control/">Remote Control</a></li><li><a href="/browse-5507-sports-and-recreation/sports-gear/">Sports Gear</a></li><li><a href="/browse-5497-sports-and-recreation/games-and-toys/">Games & Toys</a></li><li><a href="/browse-5492-sports-and-recreation/">All Sports & Recreation</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-5492-sports-and-recreation/?b=123">Bushnell</a></li><li><a href="/browse-5492-sports-and-recreation/?b=128">Callaway</a></li><li><a href="/browse-5492-sports-and-recreation/?b=574">Nike</a></li><li><a href="/browse-5492-sports-and-recreation/?b=826">TaylorMade</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/store-sports-001.jpg" /></div></div><div id="menu_16_sub" class="menu_browse_subs menu_sub_browse" style="display:none"><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-1'><h3 id="category_browse">By Category</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-212-gift-cards/10-gift-cards/">$10 Gift Cards</a></li><li><a href="/browse-213-gift-cards/15-gift-cards/">$15 Gift Cards</a></li><li><a href="/browse-214-gift-cards/25-gift-cards/">$25 Gift Cards</a></li><li><a href="/browse-216-gift-cards/50-gift-cards/">$50 Gift Cards</a></li><li><a href="/browse-17-gift-cards/">All Gift Cards</a></li></ul></div><div id='flyout' style='width: 170px; float:left' class='megamenu-sub-2'><h3 id="brand_browse">Top Brands</h3><ul id="menu-list-items" style="overflow:hidden;"><li><a href="/browse-17-gift-cards/?b=6282">The Home Depot</a></li><li><a href="/browse-17-gift-cards/?b=6456">Shell</a></li><li><a href="/browse-17-gift-cards/?b=6387">Outback</a></li><li><a href="/browse-17-gift-cards/?b=6522">Walmart</a></li></ul></div><div style='clear:both'></div><div class="megamenu-image"><img width="140" src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/dropdown/auctions-cards-001.png" /></div></div>
                        </div>
                    </div> <!--browse-links-->
                </div> <!--auction-menu-->
            </div>
            <!--nav -->


            <div class="search-auctions-large" style="z-index:20">
                <form id='qbSearchForm' action="/en/browse/">
                    <div id="search-options">
                        <div class="text" id="search_category_title">All Products</div>
                        <ul class="options" id="search_category_options">
                            <li id="search_cat" url='/en/browse/'>All Products</li>
                            <li id="search_cat" url='/browse-2352-electronics/'>Electronics</li>
                            <li id="search_cat" url='/browse-4087-home-and-garden/'>Home & Garden</li>
                            <li id="search_cat" url='/browse-8932-jewelry-and-fashion/'>Jewelry & Fashion</li>
                            <li id="search_cat" url='/browse-5492-sports-and-recreation/'>Sports & Recreation</li>
                            <li id="search_cat" url='/browse-9886-specialty-shops/'>Specialty Shops</li>
                            <li id="search_cat" url='/browse-17-gift-cards/'>Gift Cards</li>
                            <li id="search_cat" url='/en/'>All Auctions</li>
                            <li id="search_cat" url='/en/help/search.php'>Help</li>
                        </ul>
                    </div>
                    <input type="text" id='qbSearch' name="q"
                           placeholder="Search live auctions, products, and more..."
                           class="txt defaultText  defaultTextActive" value="Search live auctions, products, and more..." style="width:700px;">
                    <input id='qbSearchButton' type="button"
                           value="Go"
                           class="buttons medium orange" />
                </form>

                <script>
                    $("#search_category_title").live('click', function (e) {
                        $('#search_category_options').show();
                    });

                    $("#search_category_options li").live('click', function (e) {
                        $('#qbSearchForm').attr("action", $(this).attr('url'));
                        $('#search_category_title').html($(this).html());

                        $('#search_category_options').hide();
                    });

                    $("#search_category_options").hover(function () {
                    }, function (e) {
                        $('#search_category_options').fadeOut(100);
                    });

                </script>
            </div>
            <!--search-auctions-->



            <div id="container">

                <script>
                    $(document).ready(function () {
                        $('.tabs li').each(function (index) {
                            var tabClass = $(this).attr('class');
                            if (tabClass == "myaccount") {
                                $(this).addClass('ui-state-active');
                            }
                        });
                        $('.panel-content li').each(function (index) {
                            var panelHtml = $(this).attr('class');
                            if (panelHtml == "myinformation") {
                                $(this).addClass('active');
                            }
                        });


                        if ($('.panel-content').length == 0) {
                            $('.tab-nav').css('border', '0px');
                        }
                        //$.scrollTo('.tab-nav',0);
                    });

                </script>
                <div class="tab-nav">
                    <ul class="tabs">
                        <li class="dashboard"><a href="https://www.quibids.com/en/account/">My QuiBids</a></li>
                        <li class="myaccount"><a href="https://www.quibids.com/en/account/myaccount/">My Account</a></li>
                        <li class="badges"><a href="https://www.quibids.com/en/account/badges/">My Badges</a></li>
                        <li class="games"><a href="https://www.quibids.com/en/account/games/">My Games</a></li>
                    </ul>
                    <div id="myaccount">
                        <ul class="panel-content">
                            <li class="myinformation"><a href="https://www.quibids.com/en/account/myaccount/">My Information</a></li>
                            <li class="changepassword"><a href="https://www.quibids.com/en/account/myaccount/password.php">Change Password</a></li>
                            <li class="myavatar"><a href="https://www.quibids.com/en/account/myaccount/avatar.php">My Avatar</a></li>
                            <li class="notifications"><a href="https://www.quibids.com/en/account/myaccount/notifications.php">Notifications</a></li>
                            <li class="redeemcoupon"><a href="https://www.quibids.com/en/account/myaccount/redeem-coupon.php">Redeem Promo</a></li>
                        </ul>
                    </div>
                </div><!--end tabs-->

                <div class="content">

                    <div id="main-content" class="twocol-left">


                        <div class="module">
                            <h3 class="orange bold">My Profile</h3>
                            <div class="content">
                                <div class="module-left">
                                    <ul>
                                        <li class="bold">Name:</li>
                                        <li class="bold">Username:</li>
                                        <li class="bold">Email:</li>
                                        <li class="bold">Hide My Location:</li>
                                        <li class="bold">Time Zone:</li>
                                    </ul>
                                </div>

                                <div class="module-right">
                                    <form method="POST">
                                        <input type="hidden" name="action" value="updatePreferences" />
                                        <ul>
                                            <li>Amirhosein Goorani</li>
                                            <li>272620</li>
                                            <li>amirhoseingoorani@yahoo.com (<a href="email.php">Update</a>)</li>
                                            <li>
                                                <fieldset>
                                                    <input name="incognito" value="Yes" type="radio" class="checkbox">
                                                    Yes    									&nbsp;
                                                    <input name="incognito" value="No" type="radio" class="checkbox" checked>
                                                    No
                                                </fieldset>

                                                &nbsp; &nbsp; <a href="#" class="tooltip-top" title="What's Hide My Location?<br/>While we assure you that shopping on QuiBids isn't directly compromising to your online security, we<br/>understand your wish to remain as anonymous as possible when using the Internet.  This is why we've<br/>built the Hide My Location option into your user profile, so you can maintain a certain level of mystique<br/>to other users. Select Yes and your location will appear as the country from where you're bidding."><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/auctions/question-hover.png" /></a>
                                            </li>
                                            <li>
                                                <fieldset>
                                                    <select name="account_timezone" id="accountTimezone">
                                                        <option value="">N/A</option>
                                                        <optgroup label='Africa'><option value="71"> -- Abidjan (GMT +0)</option><option value="72"> -- Accra (GMT +0)</option><option value="73"> -- Addis_Ababa (GMT +3)</option><option value="74"> -- Algiers (GMT +1)</option><option value="75"> -- Asmara (GMT +3)</option><option value="76"> -- Bamako (GMT +0)</option><option value="77"> -- Bangui (GMT +1)</option><option value="78"> -- Banjul (GMT +0)</option><option value="79"> -- Bissau (GMT +0)</option><option value="80"> -- Blantyre (GMT +2)</option><option value="81"> -- Brazzaville (GMT +1)</option><option value="82"> -- Bujumbura (GMT +2)</option><option value="83"> -- Cairo (GMT +2)</option><option value="84"> -- Casablanca (GMT +0)</option><option value="85"> -- Ceuta (GMT +2)</option><option value="86"> -- Conakry (GMT +0)</option><option value="87"> -- Dakar (GMT +0)</option><option value="88"> -- Dar_es_Salaam (GMT +3)</option><option value="89"> -- Djibouti (GMT +3)</option><option value="90"> -- Douala (GMT +1)</option><option value="91"> -- El_Aaiun (GMT +0)</option><option value="92"> -- Freetown (GMT +0)</option><option value="93"> -- Gaborone (GMT +2)</option><option value="94"> -- Harare (GMT +2)</option><option value="1"> -- Johannesburg (GMT +2)</option><option value="95"> -- Juba (GMT +3)</option><option value="96"> -- Kampala (GMT +3)</option><option value="97"> -- Khartoum (GMT +3)</option><option value="98"> -- Kigali (GMT +2)</option><option value="99"> -- Kinshasa (GMT +1)</option><option value="2"> -- Lagos (GMT +1)</option><option value="100"> -- Libreville (GMT +1)</option><option value="101"> -- Lome (GMT +0)</option><option value="102"> -- Luanda (GMT +1)</option><option value="103"> -- Lubumbashi (GMT +2)</option><option value="104"> -- Lusaka (GMT +2)</option><option value="105"> -- Malabo (GMT +1)</option><option value="106"> -- Maputo (GMT +2)</option><option value="107"> -- Maseru (GMT +2)</option><option value="108"> -- Mbabane (GMT +2)</option><option value="109"> -- Mogadishu (GMT +3)</option><option value="110"> -- Monrovia (GMT +0)</option><option value="111"> -- Nairobi (GMT +3)</option><option value="112"> -- Ndjamena (GMT +1)</option><option value="113"> -- Niamey (GMT +1)</option><option value="114"> -- Nouakchott (GMT +0)</option><option value="115"> -- Ouagadougou (GMT +0)</option><option value="116"> -- Porto-Novo (GMT +1)</option><option value="117"> -- Sao_Tome (GMT +0)</option><option value="118"> -- Tripoli (GMT +2)</option><option value="119"> -- Tunis (GMT +1)</option><option value="3"> -- Windhoek (GMT +1)</option></optgroup>
                                                        <optgroup label='America'><option value="4"> -- Adak (GMT -9)</option><option value="5"> -- Anchorage (GMT -8)</option><option value="120"> -- Anguilla (GMT -4)</option><option value="121"> -- Antigua (GMT -4)</option><option value="122"> -- Araguaina (GMT -3)</option><option value="6"> -- Argentina/Buenos_Aires (GMT -3)</option><option value="123"> -- Argentina/Catamarca (GMT -3)</option><option value="124"> -- Argentina/Cordoba (GMT -3)</option><option value="125"> -- Argentina/Jujuy (GMT -3)</option><option value="126"> -- Argentina/La_Rioja (GMT -3)</option><option value="127"> -- Argentina/Mendoza (GMT -3)</option><option value="128"> -- Argentina/Rio_Gallegos (GMT -3)</option><option value="129"> -- Argentina/Salta (GMT -3)</option><option value="130"> -- Argentina/San_Juan (GMT -3)</option><option value="131"> -- Argentina/San_Luis (GMT -3)</option><option value="132"> -- Argentina/Tucuman (GMT -3)</option><option value="133"> -- Argentina/Ushuaia (GMT -3)</option><option value="134"> -- Aruba (GMT -4)</option><option value="7"> -- Asuncion (GMT -4)</option><option value="135"> -- Atikokan (GMT -5)</option><option value="136"> -- Bahia (GMT -3)</option><option value="137"> -- Bahia_Banderas (GMT -5)</option><option value="138"> -- Barbados (GMT -4)</option><option value="139"> -- Belem (GMT -3)</option><option value="140"> -- Belize (GMT -6)</option><option value="141"> -- Blanc-Sablon (GMT -4)</option><option value="142"> -- Boa_Vista (GMT -4)</option><option value="8"> -- Bogota (GMT -5)</option><option value="143"> -- Boise (GMT -6)</option><option value="144"> -- Cambridge_Bay (GMT -6)</option><option value="145"> -- Campo_Grande (GMT -4)</option><option value="146"> -- Cancun (GMT -5)</option><option value="9"> -- Caracas (GMT -4.5)</option><option value="147"> -- Cayenne (GMT -3)</option><option value="148"> -- Cayman (GMT -5)</option><option value="10" selected> -- Chicago (GMT -5)</option><option value="149"> -- Chihuahua (GMT -6)</option><option value="150"> -- Costa_Rica (GMT -6)</option><option value="151"> -- Cuiaba (GMT -4)</option><option value="152"> -- Curacao (GMT -4)</option><option value="153"> -- Danmarkshavn (GMT +0)</option><option value="154"> -- Dawson (GMT -7)</option><option value="155"> -- Dawson_Creek (GMT -7)</option><option value="11"> -- Denver (GMT -6)</option><option value="156"> -- Detroit (GMT -4)</option><option value="157"> -- Dominica (GMT -4)</option><option value="158"> -- Edmonton (GMT -6)</option><option value="159"> -- Eirunepe (GMT -5)</option><option value="160"> -- El_Salvador (GMT -6)</option><option value="161"> -- Fortaleza (GMT -3)</option><option value="162"> -- Glace_Bay (GMT -3)</option><option value="12"> -- Godthab (GMT -2)</option><option value="163"> -- Goose_Bay (GMT -3)</option><option value="164"> -- Grand_Turk (GMT -4)</option><option value="165"> -- Grenada (GMT -4)</option><option value="166"> -- Guadeloupe (GMT -4)</option><option value="13"> -- Guatemala (GMT -6)</option><option value="167"> -- Guayaquil (GMT -5)</option><option value="168"> -- Guyana (GMT -4)</option><option value="14"> -- Halifax (GMT -3)</option><option value="169"> -- Havana (GMT -4)</option><option value="170"> -- Hermosillo (GMT -7)</option><option value="171"> -- Indiana/Indianapolis (GMT -4)</option><option value="172"> -- Indiana/Knox (GMT -5)</option><option value="173"> -- Indiana/Marengo (GMT -4)</option><option value="174"> -- Indiana/Petersburg (GMT -4)</option><option value="175"> -- Indiana/Tell_City (GMT -5)</option><option value="176"> -- Indiana/Vevay (GMT -4)</option><option value="177"> -- Indiana/Vincennes (GMT -4)</option><option value="178"> -- Indiana/Winamac (GMT -4)</option><option value="179"> -- Inuvik (GMT -6)</option><option value="180"> -- Iqaluit (GMT -4)</option><option value="181"> -- Jamaica (GMT -5)</option><option value="182"> -- Juneau (GMT -8)</option><option value="183"> -- Kentucky/Louisville (GMT -4)</option><option value="184"> -- Kentucky/Monticello (GMT -4)</option><option value="185"> -- Kralendijk (GMT -4)</option><option value="186"> -- La_Paz (GMT -4)</option><option value="187"> -- Lima (GMT -5)</option><option value="15"> -- Los_Angeles (GMT -7)</option><option value="188"> -- Lower_Princes (GMT -4)</option><option value="189"> -- Maceio (GMT -3)</option><option value="190"> -- Managua (GMT -6)</option><option value="191"> -- Manaus (GMT -4)</option><option value="192"> -- Marigot (GMT -4)</option><option value="193"> -- Martinique (GMT -4)</option><option value="194"> -- Matamoros (GMT -5)</option><option value="195"> -- Mazatlan (GMT -6)</option><option value="196"> -- Menominee (GMT -5)</option><option value="197"> -- Merida (GMT -5)</option><option value="198"> -- Metlakatla (GMT -8)</option><option value="199"> -- Mexico_City (GMT -5)</option><option value="200"> -- Miquelon (GMT -2)</option><option value="201"> -- Moncton (GMT -3)</option><option value="202"> -- Monterrey (GMT -5)</option><option value="16"> -- Montevideo (GMT -3)</option><option value="203"> -- Montreal (GMT -4)</option><option value="204"> -- Montserrat (GMT -4)</option><option value="205"> -- Nassau (GMT -4)</option><option value="17"> -- New_York (GMT -4)</option><option value="206"> -- Nipigon (GMT -4)</option><option value="207"> -- Nome (GMT -8)</option><option value="18"> -- Noronha (GMT -2)</option><option value="208"> -- North_Dakota/Beulah (GMT -5)</option><option value="209"> -- North_Dakota/Center (GMT -5)</option><option value="210"> -- North_Dakota/New_Salem (GMT -5)</option><option value="211"> -- Ojinaga (GMT -6)</option><option value="212"> -- Panama (GMT -5)</option><option value="213"> -- Pangnirtung (GMT -4)</option><option value="214"> -- Paramaribo (GMT -3)</option><option value="19"> -- Phoenix (GMT -7)</option><option value="215"> -- Port-au-Prince (GMT -4)</option><option value="216"> -- Port_of_Spain (GMT -4)</option><option value="217"> -- Porto_Velho (GMT -4)</option><option value="218"> -- Puerto_Rico (GMT -4)</option><option value="219"> -- Rainy_River (GMT -5)</option><option value="220"> -- Rankin_Inlet (GMT -5)</option><option value="221"> -- Recife (GMT -3)</option><option value="222"> -- Regina (GMT -6)</option><option value="223"> -- Resolute (GMT -5)</option><option value="224"> -- Rio_Branco (GMT -5)</option><option value="225"> -- Santa_Isabel (GMT -7)</option><option value="226"> -- Santarem (GMT -3)</option><option value="227"> -- Santiago (GMT -4)</option><option value="20"> -- Santo_Domingo (GMT -4)</option><option value="228"> -- Sao_Paulo (GMT -3)</option><option value="229"> -- Scoresbysund (GMT +0)</option><option value="230"> -- Shiprock (GMT -6)</option><option value="231"> -- Sitka (GMT -8)</option><option value="232"> -- St_Barthelemy (GMT -4)</option><option value="21"> -- St_Johns (GMT -2.5)</option><option value="233"> -- St_Kitts (GMT -4)</option><option value="234"> -- St_Lucia (GMT -4)</option><option value="235"> -- St_Thomas (GMT -4)</option><option value="236"> -- St_Vincent (GMT -4)</option><option value="237"> -- Swift_Current (GMT -6)</option><option value="238"> -- Tegucigalpa (GMT -6)</option><option value="239"> -- Thule (GMT -3)</option><option value="240"> -- Thunder_Bay (GMT -4)</option><option value="241"> -- Tijuana (GMT -7)</option><option value="242"> -- Toronto (GMT -4)</option><option value="243"> -- Tortola (GMT -4)</option><option value="244"> -- Vancouver (GMT -7)</option><option value="245"> -- Whitehorse (GMT -7)</option><option value="246"> -- Winnipeg (GMT -5)</option><option value="247"> -- Yakutat (GMT -8)</option><option value="248"> -- Yellowknife (GMT -6)</option></optgroup>
                                                        <optgroup label='Antarctica'><option value="249"> -- Casey (GMT +8)</option><option value="250"> -- Davis (GMT +7)</option><option value="251"> -- DumontDUrville (GMT +10)</option><option value="252"> -- Macquarie (GMT +11)</option><option value="253"> -- Mawson (GMT +5)</option><option value="254"> -- McMurdo (GMT +12)</option><option value="255"> -- Palmer (GMT -4)</option><option value="256"> -- Rothera (GMT -3)</option><option value="257"> -- South_Pole (GMT +12)</option><option value="258"> -- Syowa (GMT +3)</option><option value="259"> -- Vostok (GMT +6)</option></optgroup>
                                                        <optgroup label='Arctic'><option value="260"> -- Longyearbyen (GMT +2)</option></optgroup>
                                                        <optgroup label='Asia'><option value="261"> -- Aden (GMT +3)</option><option value="262"> -- Almaty (GMT +6)</option><option value="263"> -- Amman (GMT +3)</option><option value="264"> -- Anadyr (GMT +12)</option><option value="265"> -- Aqtau (GMT +5)</option><option value="266"> -- Aqtobe (GMT +5)</option><option value="267"> -- Ashgabat (GMT +5)</option><option value="22"> -- Baghdad (GMT +3)</option><option value="268"> -- Bahrain (GMT +3)</option><option value="269"> -- Baku (GMT +5)</option><option value="270"> -- Bangkok (GMT +7)</option><option value="23"> -- Beirut (GMT +3)</option><option value="271"> -- Bishkek (GMT +6)</option><option value="272"> -- Brunei (GMT +8)</option><option value="273"> -- Choibalsan (GMT +8)</option><option value="274"> -- Chongqing (GMT +8)</option><option value="275"> -- Colombo (GMT +5.5)</option><option value="276"> -- Damascus (GMT +3)</option><option value="24"> -- Dhaka (GMT +6)</option><option value="277"> -- Dili (GMT +9)</option><option value="25"> -- Dubai (GMT +4)</option><option value="278"> -- Dushanbe (GMT +5)</option><option value="279"> -- Gaza (GMT +3)</option><option value="280"> -- Harbin (GMT +8)</option><option value="281"> -- Hebron (GMT +3)</option><option value="282"> -- Ho_Chi_Minh (GMT +7)</option><option value="283"> -- Hong_Kong (GMT +8)</option><option value="284"> -- Hovd (GMT +7)</option><option value="26"> -- Irkutsk (GMT +9)</option><option value="27"> -- Jakarta (GMT +7)</option><option value="285"> -- Jayapura (GMT +9)</option><option value="286"> -- Jerusalem (GMT +3)</option><option value="28"> -- Kabul (GMT +4.5)</option><option value="29"> -- Kamchatka (GMT +12)</option><option value="30"> -- Karachi (GMT +5)</option><option value="287"> -- Kashgar (GMT +8)</option><option value="31"> -- Kathmandu (GMT +5.75)</option><option value="32"> -- Kolkata (GMT +5.5)</option><option value="33"> -- Krasnoyarsk (GMT +8)</option><option value="288"> -- Kuala_Lumpur (GMT +8)</option><option value="289"> -- Kuching (GMT +8)</option><option value="290"> -- Kuwait (GMT +3)</option><option value="291"> -- Macau (GMT +8)</option><option value="292"> -- Magadan (GMT +12)</option><option value="293"> -- Makassar (GMT +8)</option><option value="294"> -- Manila (GMT +8)</option><option value="295"> -- Muscat (GMT +4)</option><option value="296"> -- Nicosia (GMT +3)</option><option value="297"> -- Novokuznetsk (GMT +7)</option><option value="298"> -- Novosibirsk (GMT +7)</option><option value="34"> -- Omsk (GMT +7)</option><option value="299"> -- Oral (GMT +5)</option><option value="300"> -- Phnom_Penh (GMT +7)</option><option value="301"> -- Pontianak (GMT +7)</option><option value="302"> -- Pyongyang (GMT +9)</option><option value="303"> -- Qatar (GMT +3)</option><option value="304"> -- Qyzylorda (GMT +6)</option><option value="35"> -- Rangoon (GMT +6.5)</option><option value="305"> -- Riyadh (GMT +3)</option><option value="306"> -- Sakhalin (GMT +11)</option><option value="307"> -- Samarkand (GMT +5)</option><option value="308"> -- Seoul (GMT +9)</option><option value="36"> -- Shanghai (GMT +8)</option><option value="309"> -- Singapore (GMT +8)</option><option value="310"> -- Taipei (GMT +8)</option><option value="311"> -- Tashkent (GMT +5)</option><option value="312"> -- Tbilisi (GMT +4)</option><option value="37"> -- Tehran (GMT +4.5)</option><option value="313"> -- Thimphu (GMT +6)</option><option value="38"> -- Tokyo (GMT +9)</option><option value="314"> -- Ulaanbaatar (GMT +8)</option><option value="315"> -- Urumqi (GMT +8)</option><option value="316"> -- Vientiane (GMT +7)</option><option value="39"> -- Vladivostok (GMT +11)</option><option value="40"> -- Yakutsk (GMT +10)</option><option value="41"> -- Yekaterinburg (GMT +6)</option><option value="42"> -- Yerevan (GMT +4)</option></optgroup>
                                                        <optgroup label='Atlantic'><option value="43"> -- Azores (GMT +0)</option><option value="317"> -- Bermuda (GMT -3)</option><option value="318"> -- Canary (GMT +1)</option><option value="44"> -- Cape_Verde (GMT -1)</option><option value="319"> -- Faroe (GMT +1)</option><option value="320"> -- Madeira (GMT +1)</option><option value="321"> -- Reykjavik (GMT +0)</option><option value="322"> -- South_Georgia (GMT -2)</option><option value="323"> -- St_Helena (GMT +0)</option><option value="324"> -- Stanley (GMT -3)</option></optgroup>
                                                        <optgroup label='Australia'><option value="45"> -- Adelaide (GMT +9.5)</option><option value="46"> -- Brisbane (GMT +10)</option><option value="325"> -- Broken_Hill (GMT +9.5)</option><option value="326"> -- Currie (GMT +10)</option><option value="47"> -- Darwin (GMT +9.5)</option><option value="48"> -- Eucla (GMT +8.75)</option><option value="327"> -- Hobart (GMT +10)</option><option value="328"> -- Lindeman (GMT +10)</option><option value="49"> -- Lord_Howe (GMT +10.5)</option><option value="329"> -- Melbourne (GMT +10)</option><option value="330"> -- Perth (GMT +8)</option><option value="50"> -- Sydney (GMT +10)</option></optgroup>
                                                        <optgroup label='Europe'><option value="331"> -- Amsterdam (GMT +2)</option><option value="332"> -- Andorra (GMT +2)</option><option value="333"> -- Athens (GMT +3)</option><option value="334"> -- Belgrade (GMT +2)</option><option value="54"> -- Berlin (GMT +2)</option><option value="335"> -- Bratislava (GMT +2)</option><option value="336"> -- Brussels (GMT +2)</option><option value="337"> -- Bucharest (GMT +3)</option><option value="338"> -- Budapest (GMT +2)</option><option value="339"> -- Chisinau (GMT +3)</option><option value="340"> -- Copenhagen (GMT +2)</option><option value="341"> -- Dublin (GMT +1)</option><option value="342"> -- Gibraltar (GMT +2)</option><option value="343"> -- Guernsey (GMT +1)</option><option value="344"> -- Helsinki (GMT +3)</option><option value="345"> -- Isle_of_Man (GMT +1)</option><option value="346"> -- Istanbul (GMT +3)</option><option value="347"> -- Jersey (GMT +1)</option><option value="348"> -- Kaliningrad (GMT +3)</option><option value="349"> -- Kiev (GMT +3)</option><option value="350"> -- Lisbon (GMT +1)</option><option value="351"> -- Ljubljana (GMT +2)</option><option value="55"> -- London (GMT +1)</option><option value="352"> -- Luxembourg (GMT +2)</option><option value="353"> -- Madrid (GMT +2)</option><option value="354"> -- Malta (GMT +2)</option><option value="355"> -- Mariehamn (GMT +3)</option><option value="356"> -- Minsk (GMT +3)</option><option value="357"> -- Monaco (GMT +2)</option><option value="56"> -- Moscow (GMT +4)</option><option value="358"> -- Oslo (GMT +2)</option><option value="359"> -- Paris (GMT +2)</option><option value="360"> -- Podgorica (GMT +2)</option><option value="361"> -- Prague (GMT +2)</option><option value="362"> -- Riga (GMT +3)</option><option value="363"> -- Rome (GMT +2)</option><option value="364"> -- Samara (GMT +4)</option><option value="365"> -- San_Marino (GMT +2)</option><option value="366"> -- Sarajevo (GMT +2)</option><option value="367"> -- Simferopol (GMT +3)</option><option value="368"> -- Skopje (GMT +2)</option><option value="369"> -- Sofia (GMT +3)</option><option value="370"> -- Stockholm (GMT +2)</option><option value="371"> -- Tallinn (GMT +3)</option><option value="372"> -- Tirane (GMT +2)</option><option value="373"> -- Uzhgorod (GMT +3)</option><option value="374"> -- Vaduz (GMT +2)</option><option value="375"> -- Vatican (GMT +2)</option><option value="376"> -- Vienna (GMT +2)</option><option value="377"> -- Vilnius (GMT +3)</option><option value="378"> -- Volgograd (GMT +4)</option><option value="379"> -- Warsaw (GMT +2)</option><option value="380"> -- Zagreb (GMT +2)</option><option value="381"> -- Zaporozhye (GMT +3)</option><option value="382"> -- Zurich (GMT +2)</option></optgroup>
                                                        <optgroup label='Indian'><option value="383"> -- Antananarivo (GMT +3)</option><option value="384"> -- Chagos (GMT +6)</option><option value="385"> -- Christmas (GMT +7)</option><option value="386"> -- Cocos (GMT +6.5)</option><option value="387"> -- Comoro (GMT +3)</option><option value="388"> -- Kerguelen (GMT +5)</option><option value="389"> -- Mahe (GMT +4)</option><option value="390"> -- Maldives (GMT +5)</option><option value="391"> -- Mauritius (GMT +4)</option><option value="392"> -- Mayotte (GMT +3)</option><option value="393"> -- Reunion (GMT +4)</option></optgroup>
                                                        <optgroup label='Pacific'><option value="57"> -- Apia (GMT +13)</option><option value="58"> -- Auckland (GMT +12)</option><option value="59"> -- Chatham (GMT +12.75)</option><option value="394"> -- Chuuk (GMT +10)</option><option value="60"> -- Easter (GMT -6)</option><option value="395"> -- Efate (GMT +11)</option><option value="396"> -- Enderbury (GMT +13)</option><option value="397"> -- Fakaofo (GMT +13)</option><option value="398"> -- Fiji (GMT +12)</option><option value="399"> -- Funafuti (GMT +12)</option><option value="400"> -- Galapagos (GMT -6)</option><option value="61"> -- Gambier (GMT -9)</option><option value="401"> -- Guadalcanal (GMT +11)</option><option value="402"> -- Guam (GMT +10)</option><option value="62"> -- Honolulu (GMT -10)</option><option value="403"> -- Johnston (GMT -10)</option><option value="63"> -- Kiritimati (GMT +14)</option><option value="404"> -- Kosrae (GMT +11)</option><option value="405"> -- Kwajalein (GMT +12)</option><option value="406"> -- Majuro (GMT +12)</option><option value="64"> -- Marquesas (GMT -9.5)</option><option value="407"> -- Midway (GMT -11)</option><option value="408"> -- Nauru (GMT +12)</option><option value="409"> -- Niue (GMT -11)</option><option value="65"> -- Norfolk (GMT +11.5)</option><option value="66"> -- Noumea (GMT +11)</option><option value="67"> -- Pago_Pago (GMT -11)</option><option value="410"> -- Palau (GMT +9)</option><option value="68"> -- Pitcairn (GMT -8)</option><option value="411"> -- Pohnpei (GMT +11)</option><option value="412"> -- Port_Moresby (GMT +10)</option><option value="413"> -- Rarotonga (GMT -10)</option><option value="414"> -- Saipan (GMT +10)</option><option value="415"> -- Tahiti (GMT -10)</option><option value="69"> -- Tarawa (GMT +12)</option><option value="70"> -- Tongatapu (GMT +13)</option><option value="416"> -- Wake (GMT +12)</option><option value="417"> -- Wallis (GMT +12)</option></optgroup>
                                                        <option value="418">UTC (GMT +0)</option>
                                                    </select>
                                                </fieldset>

                                            </li>
                                        </ul>
                                        <input class="orange small buttons" type="submit" value="Update">
                                    </form>
                                </div>
                            </div>
                        </div><!--module-->

                        <div class="module">
                            <h3 class="orange bold">Special Offers</h3>

                            <div class="content">
                                <p>
                                    Subscribe to QuiBids promotional email for special offers to receive free bids, rewards, news on site features, and more!					</br>
                                    <strong>Note</strong>: These preferences do not apply to transactional emails such as order confirmations account changes.
                                </p>
                                <form>
                                    <input type="hidden" name="action" value="update">
                                    <fieldset>
                                        <input type="radio" name="EmailNewsletter" class="checkbox" value="Yes" checked="checked">
                                        Yes. I want to get offers for Free Bids and other QuiBids promotions!							</br>
                                        <input type="radio" name="EmailNewsletter" class="checkbox" value="No">
                                        No Thanks. I do not want offers for free bids or QuiBids promotions.
                                    </fieldset>
                                    </br></br></br>
                                    <input style="float:right" class="orange buttons small" type="submit" value="Update">
                                </form>
                            </div>

                        </div><!--module--><!--module-->
                        <div class="module">
                            <h3 class="orange bold">My Addresses</h3>
                            <div class="content">
                                <div class="module-left no-borders ship">
                                    <p class="bold">Shipping:</p>
                                    <ul class="boxes">
                                        <li>No Shipping Addresses Saved</li>
                                    </ul>

                                </div>
                                <div class="module-right no-borders ship">
                                    <p class="bold">Billing:</p>
                                    <ul class="boxes">
                                        <li>No Billing Addresses Saved</li>
                                    </ul>

                                </div>
                            </div>
                        </div><!--module-->
                    </div>
                    <!--main-content-->
                    <div id="side-content" class="twocol-left">
                        <div class="module">
                            <div class="content">
                                <h4 class="blue-background">
                                    Hi, Amirhosein</h3>

                                    <div class="content-left">
                                        <p><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/52.png" class="img" border='0' /></p>

                                        <p><a href="https://www.quibids.com/en/account/myaccount/avatar.php">(Change)</a></p>
                                    </div>

                                    <div class="content-right">
                                        <p class="bold">Last Login</p>
                                        <p>11 May 2019</p>

                                        <hr>
                                        <p class="bold">Remaining Bids</p>
                                        <p><span>Real Bids <span class="right green">0</span> </span></p>
                                        <p><span>Voucher Bids</span> <span class="right green">0</span></p>
                                        <hr>
                                        <p><span>Total Bids</span> <span class="right green">0</span> </p>

                                        <hr>
                                    </div>
                            </div>
                        </div>
                        <div class="module">
                            <h3><img class="refer-icon" src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/account/contact-icon.png" /> Contact Support</h3>
                            <div class="content">

                                <p>Got a question? We’ve got answers. For simple solutions, check out our easy-to-access <a href="/en/help/index.php">Help</a> section. For stickier situations, connect to <a href="/en/help/support.php">Live Chat</a> or submit a support request below.</p>
                                <p class="center"><a href="/en/help/support.php" class="buttons medium blue">Contact Support</a></p>
                            </div>
                        </div><!--module-->
                    </div><!--side-content-->
                </div><!--content-->
            </div><!--container-->



            <footer>
                <div id="footer-left">

                    <div class="content">
                        <h5 onclick="document.location='https://www.quibids.com/en/account/'">Quick Links</h5>
                        <ul>
                            <li><a href="https://www.quibids.com/en/account/myaccount/">My Account</a></li>
                            <li><a href="https://www.quibids.com/en/account/dashboard/limits.php">Auction Limits</a></li>
                            <li><a href="http://www.quibids.com/en/">Live Auctions</a></li>
                            <li><a href="javascript:return false;" onclick="$('#siteMap').toggle()">Site Map</a></li>
                        </ul>
                    </div><!--content-->


                    <div class="content">
                        <h5>About</h5>
                        <ul>
                            <li><a href="http://www.quibids.com/en/company/">About Us</a></li>
                            <li><a href="http://www.quibids.com/en/company/media.php">Media Info</a></li>
                            <li><a href="http://www.quibids.com/en/company/careers.php">Jobs</a></li>
                            <li><a href="http://blog.quibids.com">Company Blog</a></li>
                            <li><a href="http://www.quibids.com/en/company/privacy.php">Privacy Policy</a></li>
                        </ul>
                    </div><!--content-->

                    <div class="content">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="http://www.quibids.com/en/help/">Help</a></li>

                            <li><a href="http://www.quibids.com/en/help/faq/15-How-to-Start-Bidding#71">How It Works</a></li>
                            <li><a href="http://www.quibids.com/en/help/support.php">Customer Support</a></li>

                            <li><a href="http://www.quibids.com/en/help/rules.php">Site Rules</a></li>
                            <li><a href="http://www.quibids.com/en/help/terms.php">Terms & Conditions</a></li>
                            <li><a href="http://www.quibids.com/en/help/game_rules.php">Game Rules</a></li>
                        </ul>
                    </div><!--content-->

                </div><!--footer-left-->

                <div id="footer-right">
                    <div class="content connect">
                        <div class="left">
                            <h5>Stay Connected</h5>
                            <p>
                                <a href="https://plus.google.com/117216572030306299702" target="_new" title="QuiBids Google+" rel="publisher"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/icons/gplus-24.png"></a>
                                <a href="http://facebook.com/QuiBids" target="_new" title="QuiBids Facebook"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/icons/facebook-24x24.png" /></a>
                                <a href="http://twitter.com/QuiBids" target="_new" title="QuiBids Twitter"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/icons/twitter-24x24.png" /></a>
                                <a href="http://youtube.com/QuiBids" target="_new" title="QuiBids YouTube"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/icons/youtube-24x24.png" /></a>
                                <a href="http://www.linkedin.com/company/quibids?trk=hb_tab_compy_id_554497" target="_new" title="QuiBids LinkedIn"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/icons/linkedIN.png" /></a>
                                <a href="http://pinterest.com/quibids/" target="_new" title="QuiBids Pinterest"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/icons/pinterest-24.png" /></a>
                                <a href="http://blog.quibids.com/feed/" target="_new" title="QuiBids RSS"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/icons/rss-24x24.png" /></a>
                            </p>
                        </div>
                    </div><!--content-->

                    <div class="content safely">
                        <!-- <h5>Bid Safely on QuiBids</h5> -->
                        <!-- <ul class="footer-icons">
                            <li class="bbb">
                                <a href="http://www.bbb.org/oklahoma-city/business-reviews/internet-auction-service/quibids-in-oklahoma-city-ok-90016706" target="_new"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/icons/bbb.png" /></a>
                            </li>
                        </ul> -->
                    </div><!--content-->

                </div><!--footer-right-->
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#siteMap').toggle();
                    });
                </script>
                <div id="siteMap">
                    <ul>
                        <li><a title="QuiBids Facebook" target="_blank" href="http://www.facebook.com/quibids">QuiBids Facebook</a></li>
                        <li><a title="QuiBids AboutMe" target="_blank" href="http://about.me/quibids">QuiBids About.Me</a></li>

                        <li><a title="QuiBids YouTube" target="_blank" href="http://www.youtube.com/QuiBids">QuiBids YouTube</a></li>
                        <li><a title="QuiBids Twitter" target="_blank" href="http://twitter.com/#!/quibids">QuiBids Twitter</a></li>
                        <li><a title="QuiBids LinkedIn" target="_blank" href="http://www.linkedin.com/company/quibids-llc">QuiBids LinkedIn</a></li>
                        <li><a title="QuiBids Pinterest" target="_blank" href="http://pinterest.com/quibids">QuiBids Pinterest</a></li>
                    </ul>
                    <ul>
                        <li><a title="QuiBids Squidoo" target="_blank" href="http://www.squidoo.com/lensmasters/quibids">QuiBids Squidoo</a></li>

                        <li><a title="QuiBids StumbleUpon" target="_blank" href="http://quibids.stumbleupon.com">QuiBids StumbleUpon</a></li>
                        <li><a title="QuiBids Friendfeed" target="_blank" href="http://friendfeed.com/quibids">QuiBids Friendfeed</a></li>
                        <li><a title="QuiBids Delicious" target="_blank" href="http://delicious.com/QuiBids">QuiBids Delicious</a></li>
                    </ul>
                    <ul>
                        <li><a title="QuiBids Quick Tips" target="_blank" href="/help/faq/15-New-to-QuiBids">QuiBids Quick Tips</a></li>

                        <li><a title="QuiBids Common Mistakes" target="_blank" href="/quibids101/blog/16-The-3-Biggest-Mistakes-Beginners-Make">QuiBids Common Mistakes</a></li>
                        <li><a title="QuiBids Live Auctions" target="_blank" href="/categories/Live-Auctions/">Live Auctions</a></li>
                        <li><a title="QuiBids 101" target="_blank" href="/quibids101/">QuiBids 101</a></li>
                        <li><a title="QuiBids: Is it the Real Deal?" target="_blank" href="/en/quibids-is-not-a-scam">QuiBids: Is it the Real Deal?</a></li>
                        <li><a title="QuiBids Reviews" target="_blank" href="/en/reviews">QuiBids Reviews</a></li>
                        <li><a title="QuiBids Promos" target="_blank" href="/en/promo-code">QuiBids Promos</a></li>
                        <li><a title="QuiBids Strategy and Tips" target="_blank" href="/en/strategy">QuiBids Strategy and Tips</a></li>
                        <li><a title="QuiBids Penny Auctions" target="_blank" href="/en/penny-auctions">QuiBids Penny Auctions</a></li>
                        <li><a title="Online Bidding Sites" target="_blank" href="/en/online-bidding-sites">Online Bidding Sites</a></li>
                    </ul>
                    <ul class="last-column">
                        <li><a href="http://www.quibids.com/categories/Electronics/">Electronics</a></li>
                        <li><a href="http://www.quibids.com/categories/Home-and-Garden/">Home & Garden</a></li>
                        <li><a href="http://www.quibids.com/categories/Jewelry-and-Fashion/">Jewelry & Fashion</a></li>

                        <li><a href="http://www.quibids.com/categories/Sports-and-Recreation/">Sports & Recreation</a></li>
                        <li><a href="http://www.quibids.com/categories/Vouchers-and-Limit-Busters/">Vouchers & Limit Busters</a></li>
                        <li><a href="http://www.quibids.com/categories/New-Products/">New Products</a></li>
                        <li><a href="http://www.quibids.com/categories/Gift-Cards/">Gift Cards</a></li>
                    </ul>
                </div>
            </footer><!--footer-->
            <div id="copyright">
                <div class="fb-like" data-href="https://www.facebook.com/quibids" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                <p>
                    <span title="44">&copy;</span>
                    <span title="0.089">QuiBids.com.</span>
                    <span title="130">All Rights Reserved.</span>
                </p>

            </div><!--copyright-->
        </div><!--wrapper-->
    </div><!--gloss-->



    <div id="popupModal" title="Basic dialog" style="display:none;width:450"></div>
    <div id="popupImage" style="display: none;float: left;position: fixed;top: 50%; left: 50%;z-index: 999999;"></div>
    <div id="popupIFrame" style="display: none;float: left;position: fixed;top: 50%; left: 50%;z-index: 999999;"></div>
    <div id="popupShowUrl" title="QuiBids" style="display:none">
        <div id="popupShowUrl_contents"></div>
        <div id="popupShowUrl_closebutton"><input type='button' value='Close' onclick="$('#popupShowUrl').dialog('close');"></div>
    </div><!--end popup-->





    <script type="text/javascript">
        $(function () {
            var anchor = $('#languageSelector').find('a');
            anchor.click(function () {
                var dialog = $('#languageSelectorPopup').dialog({
                    modal: true,
                    title: _t.display('select_your_language', 'Select Your Language'),
                    width: 400,
                    height: 200,
                    resizable: false
                });
            });
        });
    </script>

    <script>
        $(function () {
            window.fbAsyncInit = function () {
                FB.init({ appId: '157008871005117', status: true, cookie: true, xfbml: true });
            };

            $('body').append('<div id="fb-root"></div>');

            $.getScript(document.location.protocol + '//connect.facebook.net/en_US/all.js');
        })
    </script>

    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

</body>

<!--[if IE]>
<style type="text/css">
.qbarmygames li span {padding-top: 4px!important; height: 18px!important;}
</style>
<![endif]-->

<div id="qbar">
    <div class="container" id="qbar_full" style="display:none">
        <div class="popup username" style="display:none" id="qbar_popup_username">
            <div class="title">
                <h2>272620</h2>
                <a id="qbar_close_username" class="close">Close</a>
            </div><!--title-->

            <div class="content">
                <div style="float:left;width:105px;">
                    <a href="/en/account/myaccount/avatar.php"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/52.png"></a>
                    <div class="profileUsername">272620</div>
                </div>
                <div style="float:right;width:250px;min-height:150px;padding-left:14px">
                    <h2>Recent Wins</h2><ul></ul><br />
                    <h2>
                        Auction Limits							<a href="/en/help/faq/8#19" class="tooltip-top" title="Click to view FAQ"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/qbar/help.png"></a>
                    </h2>

                    <p id="stars">
                        <a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a><br><br><a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a><a class='off tooltip-top' title='Open'></a>
                    </p>

                    <br /><br />
                    <h2>
                        Badges								<a href="/en/help/faq/16#101" class="tooltip-top" title="Click to view FAQ"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/qbar/help.png"></a>
                    </h2>
                    <p>
                        <img src='https://dcfv5z6t7wfeu.cloudfront.net/badges/badge_29_tiny.png' class='tooltip-top' title="QuiZette Badge" />&nbsp;
                    </p>
                </div>

            </div><!--content-->
        </div><!--popup username-->


        <div class="popup myquibids" style="display:none" id="qbar_popup_myquibids">
            <div class="title">
                <h2>My QuiBids</h2>
                <a id="qbar_close_myquibids" class="close">Close</a>
            </div><!--title-->
            <div class="content">
                <div class="cont-left">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="/en/account/badges/">My Badges</a></li>
                        <li><a href="/en/account/myaccount">My Information</a></li>
                        <li><a href="/en/account/myaccount/password.php">Change Password</a></li>
                        <li><a href="/en/account/myaccount/refer.php">Refer Friends</a></li>
                    </ul>
                    <div>&nbsp;</div>
                    <h3>QuiBids Store</h3>
                    <ul>
                        <li><a href="/en/store/bids.php">Buy Bids</a></li>
                        <li><a href="/en/store/history.php">Order History</a></li>
                    </ul>
                </div><!--right-->

                <div class="cont-left">
                    <h3>Activity</h3>
                    <ul>
                        <li><a href="/en/auctions-watch-list/">Watchlist</a></li>
                        <li><a href="/en/account/dashboard/bidding-history.php">Bidding History</a></li>
                        <li><a href="/en/account/dashboard/bidomatic-history.php">Bid-O-Matic History</a></li>
                        <li><a href="/en/account/dashboard/won-auctions.php">Won Auctions</a></li>
                        <li><a href="/en/account/dashboard/bid-credit-history.php">Bid Credit History</a></li>
                        <li><a href="/en/account/dashboard/limits.php">Auction Limits</a></li>
                        <li><a href="/en/account/myaccount/notifications.php">Notifications</a></li>
                    </ul>

                </div><!--left-->

            </div><!--content-->
        </div><!--popup myquibids-->


        <div class="popup watchlist" style="display:none" id="qbar_popup_watchlist">
            <div class="title">
                <h2>Watchlist</h2>
                <a id="qbar_close_watchlist" class="close">Close</a>
            </div><!--title-->

            <div class="actions" id="qbar_watchlist_actions" style="display:none">
                <a id="qbarWLPrevious" class="prev" href="javascript:void(0);" style="float:left">&laquo; Back</a>
                <a id="qbarWLNext" class="next" href="javascript:void(0);" style="float:right">More &raquo;</a>
            </div><!--link-->

            <div class="content" id="qbar_watchcontent"></div>
        </div><!--popup watchlist-->

        <div class="popup qbarmybids" style="display:none" id="qbar_popup_mybids">
            <div class="title">
                <h2>My Bids</h2>
                <a id="qbar_close_mybids" class="close">Close</a>
            </div><!--title-->
            <div class="content">
                <div class="cont-left">
                    <p class="big"><span id="qbar_bidsavailable2">0</span></p>
                    <p class="small">Total Bids</p>
                </div><!--left-->

                <div class="cont-right">
                    <ul>
                        <li><span class="big2" id="qbar_bidsavailable_real">0</span> Real Bids <a href="/en/help/faq/10-What-are-Real-Bids#307" title="Click to view FAQ"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/qbar/help.png"></a></li>
                        <li><span class="big2" id="qbar_bidsavailable_free">0</span> Voucher Bids <a href="/en/help/faq/10#86" title="Click to view FAQ"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/qbar/help.png"></a></li>
                    </ul>
                </div>
                <div class="cont-right" style="line-height:20px">
                    Bid Type Selection:
                    <div style='float:right'>
                        <a href="/en/help/faq/10-Bidding#122" title="Click to view FAQ">
                            <img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/qbar/help.png">
                        </a>
                    </div>
                    <div style='margin-left:0px;'>
                        <div style="height:27px;">
                            <input type='radio' id='bidsfirst_voucher' name="bidsfirst" value="Voucher">
                            <label for='bidsfirst_voucher'> Voucher Bids</label>
                        </div>
                        <div style="height:27px;">
                            <input type='radio' id='bidsfirst_real' name="bidsfirst" value="Real" checked>
                            <label for='bidsfirst_real'> Real Bids</label>
                        </div>

                    </div>
                    <div style="margin-left:10px" class="bidchoice_text"></div>

                </div>
            </div><!--content-->
        </div><!--popup mybids-->
        <div class="popup qbarmygames" style="display:none" id="qbar_popup_mygames">

            <div class="title">
                <h2>My Games</h2>
                <a id="qbar_close_mygames" class="close">Close</a>
            </div><!--title-->
            <div class="content">
                <div class="cont-left">
                    <p class="big"><span id="qbar_gamesavailable2">0</span></p>
                    <p class="small">Total Gameplays</p>
                </div><!--left-->

                <div class="cont-right">
                    <ul class="gplays">
                        <li><a href="#" class="buttons medium grey">1X</a></li>

                        <li><a href="#" class="buttons medium grey">2X</a></li>

                        <!--							<li><a href="#" class="buttons medium grey">3X</a></li>
                        -->

                        <li><a href="#" class="buttons medium grey">5X</a></li>

                        <!--							<li><a href="#" class="buttons medium grey">10X</a></li>

                                                    <li><a href="#" class="buttons medium grey">15X</a></li>
                        -->
                    </ul>
                </div><!-- cont-right -->
                <div class="qbuytitlebox qgames-content">
                    <h2 class="qbuytitle">Games <img src="https://dcfv5z6t7wfeu.cloudfront.net//img/featuredcarousel/carouselgame-icon.png" width="16" /></h2>
                    <p>Select a Gameplay to use or check out some of the current auctions with Gameplays you can bid on to win.</p>
                    <p><a href="/en/auctions-gameplays/">Find a Gameplay Auction to bid on!</a></p>
                </div>
            </div><!--content-->
        </div><!--popup mygames-->


        <div class="popup notifypopup" style="display:none" id="qbar_popup_notify">
            <div class="title">
                <h2>Notifications</h2>
                <a id="qbar_close_notify" class="close">Close</a>
            </div><!--title-->

            <div class="link" id="qbar_popup_notifications_more">
                <a href="/en/account/myaccount/notifications.php">More</a>
            </div><!--link-->

            <div class="content" id="qbar_popup_notifications"></div><!--content-->
        </div><!--popup notify-->


        <div class="logo">
            <a id="qbar_btn_qbar_hide">QBar</a>
        </div><!--logo-->

        <div class="navbar">

            <ul class="navleft">
                <li id="qbar_li_username"><a id="qbar_btn_username"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/52.png" class="user">272620</a></li>
                <li id="qbar_li_myquibids"><a id="qbar_btn_myquibids"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/qbar/myquibids.png" /> My QuiBids</a></li>
                <li id="qbar_li_mygames"><a id="qbar_btn_mygames"><img src="https://dcfv5z6t7wfeu.cloudfront.net//img/featuredcarousel/carouselgame-icon.png" width="16" />  My Games</a></li>
            </ul><!--navleft-->
            <ul class="navright">
                <li id="qbar_li_mybids">
                    <a id="qbar_btn_mybids">
                        <img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/qbar/mybids.png" />  My Bids							<label>(<span id="qbar_bidsavailable">0</span> Bids)</label>
                    </a>
                </li>
                <li id="qbar_li_watchlist"><a id="qbar_btn_watchlist"><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/qbar/watchlist.png" /> Watchlist</a></li>
            </ul><!--navright-->

        </div><!--navbar-->

        <div class="notify">
            <ul>
                <li id="qbar_li_notify">
                    <a id="qbar_btn_notify">
                        <img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/qbar/notify.png" />
                        <label id='qbar_notify_count'></label>
                    </a>
                </li>
            </ul><!--navright-->
        </div><!--notify-->

        <div class="help" id="qbar_popup_help">
            <span class="help-cont" id="qbar_help_cont"></span>
            <span class="help-btm"></span><!--bubble-->
        </div><!--help-->
    </div><!--container-->
    <div class="container_small" id="qbar_small">
        <div class="logo">
            <a id="qbar_btn_qbar_show">QBar</a>
        </div><!--logo-->
    </div>
</div>
