بدنه اصلی فرم
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    /*background: rgba(196, 212, 207, 0.23);*/
    font-family: 'iransans';
}

/*a {
    text-decoration: none;
    color: #009cfc;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

    a:hover {
        color: #002eff;
    }*/

.form {
    font-family: 'iransans';
    /*background-image: url('img/29080.jpg');*/
    padding: 4%;
    max-width: 50%;
    margin: auto;
    float: right;
    border-radius: 7px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin: 7px;
}
/*تگ های مربوط به ظاهر منویهای ثبت نام و ورود */
.tab-group {
    font-family: 'iransans';
    float: none;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

    .tab-group:after {
        content: "";
        display: table;
        clear: both;
    }

    .tab-group li a {
        font-family: 'iransans';
        display: block;
        text-decoration: none;
        padding: 15px;
        /*background:rgba(129, 255, 0, 0.90);*/
        color: #ffffff;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        -webkit-transition: .5s;
        transition: .5s;
    }

        .tab-group li a:hover {
            background: rgba(249, 244, 2, 0.80);
            color: #ffffff;
        }

    .tab-group .active a {
        background:rgba(235, 7, 7, 0.97);
        color: #ffffff;
    }
/*تگ مربوط به ظاهر عنوان به صورت رایگان ثبت نام کنید */
h1 {
    text-align: center!important;
    color: #ffffff !important;
    font-weight: 300 !important;
    margin: 0 0 40px !important;
}
#auctions h1 {
    text-align: center !important;
    color: #ffffff !important;
    font-weight: 300 !important;
    margin: 0 0 40px !important;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 0;
    float: left;
    font-size: 26px;
    font-weight: bold;
    line-height: normal
}

/*تگ های مربوط به فیلدهای ثبت نام */
label {
    font-family: 'iransans';
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

    label .req {
        margin: 2px;
        color: rgba(235, 7, 7, 0.97);
    }

    label.active {
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        left: 2px;
        font-size: 14px;
    }

        label.active .req {
            opacity: 0;
        }

    label.highlight {
        color: #ffffff;
    }

input, textarea {
    font-family: 'iransans';
    font-size: 12.4px;
    display: block;
    width: 100%;
    /*background: #e8f3ef;*/
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #010101;
    border-radius: 10px;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
    height: 35px;
    padding: 0px 4px !important;
    text-align:right;
    direction:rtl
}

    input:focus, textarea:focus {
        outline: 0;
        border-color: rgba(235, 7, 7, 0.97);
    }

textarea {

    border: 2px solid rgba(255, 255, 255, 0.5);
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 20px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

    .top-row > div:last-child {
        margin: 0;
    }
/*تگ مربوط به ظاهر کلید ثبت نام */


.button {
    font-family: 'iransans';
    font-size: 26px;
    color: #fff !important;
    text-transform: uppercase;
    background: #60a3bc;
    padding: 6px 9px;
    border-radius: 50px;
    display: inline-block;
    border: none;
}

    .button:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }
   

.button-block {
    /*display: block;
    width: 100%;*/
}
