@using DataLayer;
@{
    User user = new User();
    if (Session["Admin"] != null)
    {
        user = (User)Session["Admin"];
    }

    ViewBag.Title = "_AccountLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/Content/Css/myquibids.css" type="text/css" />
    @RenderSection("Styles", required: false)
}
<div class="tab-nav">
    <ul class="tabs">
        <li class="dashboard"><a href="/account/index">My QuiBids</a></li>
        <li class="myaccount"><a href="/account/MyAccount">My Account</a></li>
        <li class="badges"><a href="/account/MyBadges">My Badges</a></li>
        <li class="games"><a href="/account/MyGames">My Games</a></li>
    </ul>
</div><!--end tabs-->
<div id="container">

    @RenderBody()
    </div>
    <!--[if IE]>
    <style type="text/css">
    .qbarmygames li span {padding-top: 4px!important; height: 18px!important;}
    </style>
    <![endif]-->
    @section Scripts{
        <script type="text/javascript" src="~/Scripts/JScript/auctiondetail.js"></script>
        <script type="text/javascript" src="~/Scripts/JScript/pagination.js"></script>
        @RenderSection("Scripts", required: false)
    }
