@using DataLayer;
@{
    User user = new User();
    if (Session["Admin"] != null)
    {
        user = (User)Session["Admin"];
    }

    ViewBag.Title = "_AccountLayout";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Css/myquibids.css" type="text/css" />
<script type="text/javascript" src="~/Scripts/JScript/auctiondetail.js"></script>
<script type="text/javascript" src="~/Scripts/JScript/jquery-ui.min1.js"></script>
<script type="text/javascript" src="~/Scripts/JScript/pagination.js"></script>
@RenderSection("Styles", required: false)





<div id="container">

    <script>
        $(document).ready(function () {
            $('.tabs li').each(function (index) {
                var tabClass = $(this).attr('class');
                if (tabClass == "myaccount") {
                    $(this).addClass('ui-state-active');
                }
            });
            $('.panel-content li').each(function (index) {
                var panelHtml = $(this).attr('class');
                if (panelHtml == "myinformation") {
                    $(this).addClass('active');
                }
            });


            if ($('.panel-content').length == 0) {
                $('.tab-nav').css('border', '0px');
            }
            //$.scrollTo('.tab-nav',0);
        });
    </script>
    <div class="tab-nav">
        <div id="myaccount">
            <ul class="panel-content">
                <li class="myinformation"><a href="MyAccount">My Information</a></li>
                <li class="changepassword"><a href="ChangePassword">Change Password</a></li>
                <li class="myavatar"><a href="MyAvatar">My Avatar</a></li>
                <li class="notifications"><a href="Notifications">Notifications</a></li>
                <li class="redeemcoupon"><a href="RedeemPromo">Redeem Promo</a></li>
            </ul>
        </div>
    </div><!--end tabs-->

    <div class="content">

        <div id="main-content" class="twocol-left">

            @RenderBody()

        </div><!--content-->
        <div id="side-content" class="twocol-left">
            <div class="module">
                <div class="content">
                    <h4 class="blue-background">
                        Hi, @*@Model.Fname*@
                    </h4>

                    <div class="content-left">
                        <p><img src="~/Content/img/Footer-Bar/52.png" class="img" border='0' /></p>
                        <p><a href="~/Views/Account/MyAvatar">(Change)</a></p>
                    </div>

                    <div class="content-right">
                        <p class="bold">Last Login</p>
                        <p>@*@Model.LastLogin.Value.ToString("MMM dd, yyyy")*@</p>

                        <hr>
                        <p class="bold">Remaining Bids</p>
                        <p><span>Real Bids <span class="right green">@*@Model.RealBid*@</span> </span></p>
                        <p><span>Voucher Bids</span> <span class="right green">@*@Model.VoucherBid*@</span></p>
                        <hr>
                        <p><span>Total Bids</span> <span class="right green">@*@(Model.RealBid + Model.VoucherBid)*@</span> </p>

                        <hr>
                    </div>
                </div>
            </div>
            <div class="module">
                <h3><img class="refer-icon" src="~/Content/img/Layout/contact-icon.png" /> Contact Support</h3>
                <div class="content">
                    <p>Got a question? We’ve got answers. For simple solutions, check out our easy-to-access <a href="/en/help/index.php">Help</a> section. For stickier situations, connect to <a href="/en/help/support.php">Live Chat</a> or submit a support request below.</p>
                    <p class="center"><a href="/en/help/support.php" class="buttons medium blue">Contact Support</a></p>
                </div>
            </div><!--module-->
        </div><!--side-content-->

    </div><!--container-->
</div><!--wrapper-->
<!--[if IE]>
<style type="text/css">
.qbarmygames li span {padding-top: 4px!important; height: 18px!important;}
</style>
<![endif]-->
@RenderSection("Scripts", required: false)
