
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MyAccountLayout.cshtml";
}


                    <div id="main-content" class="twocol-left">
                        <div class="module">
                            <h3 class="orange bold">Change Password</h3>
                            <div style="direction:rtl; float:right; font-weight:bold" class="content">
                                <p style="float:right">
                                    
                                    لطفا رمز عبور جدید را انتخاب کنید. رمز عبور جدید شما باید بیشتر از 8 کاراکتر و شمال 1عدد باشد. (0-9).
                                </p>
                                <p>
                                </p>
                                <form method="post" action="@Url.Action("ChangePassword", "Account")" onsubmit="return checkChangePassword();">
                                    <fieldset class="spacing">
                                        <label style="float:right">رمز عبور فعلی:</label>
                                        <br>
                                        <input style="float:right" type="password" name="oldpassword" id="account_oldpassword" class="txt">
                                    </fieldset>
                                    <fieldset class="spacing">
                                        <label style="float:right">رمز عبور جدید:</label>
                                        <br>
                                        <input style="float:right" type="password" name="password" id="account_password" class="txt" onkeyup="runPassword(this.value, 'mypassword');">
                                    </fieldset>
                                    <fieldset class="spacing">
                                        <label style="float:right">تکرار رمز عبور جدید:</label>
                                        <br>
                                        <input style="float:right" type="password" name="password2" id="account_password2" class="txt">
                                    </fieldset>
                                    <div style="float:right">
                                        <strong>
                                            <span style="font-size: 10px;color:#969696; ">Strength:</span>
                                        </strong>
                                        <div id="mypassword_text" style="font-size: 10px;"></div>
                                        <div id="mypassword_bar" style="font-size: 1px; height: 5px; width: 0px; border: 1px solid white;"></div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <fieldset class="spacing">

                                        <input type="submit" class="orange buttons small" value="Update">
                                    </fieldset>
                                </form>
                                <p></p>
                                <div class="clear"></div>
                            </div>
                            <style>
                                form {
                                    padding: 0;
                                    margin: 0;
                                    float: right;
                                }
                            </style>
                        </div><!--module-->
                    </div>
                    <!--main-content-->
@section Scripts{
    <script src="~/Scripts/JScript/register.js"></script>

    <script>
        $(document).ready(function () {
            $('.tabs li').each(function (index) {
                var tabClass = $(this).attr('class');
                if (tabClass == "myaccount") {
                    $(this).addClass('ui-state-active');
                }
            });
            $('.panel-content li').each(function (index) {
                var panelHtml = $(this).attr('class');
                if (panelHtml == "myinformation") {
                    $(this).addClass('active');
                }
            });


            if ($('.panel-content').length == 0) {
                $('.tab-nav').css('border', '0px');
            }
            //$.scrollTo('.tab-nav',0);
        });

    </script>
}