
@{
    ViewBag.Title = "MyAvatar";
    Layout = "~/Views/Shared/_MyAccountLayout.cshtml";
}



                    <div class="module">
                        <h3 class="orange bold">My Avatar</h3>
                        <div class="content">
                            <p>
                                Your avatar will be displayed next to your username when bidding. Select an avatar that represents you best!
                            </p>
                            <ul class="avatar-list">
                                
                                <li class="avatar"><a href="avatar.php?action=newavatar&id=8"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/8.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=9"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/9.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=10"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/10.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=11"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/11.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=12"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/12.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=13"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/13.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=14"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/14.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=15"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/15.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=16"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/16.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=17"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/17.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=18"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/18.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=19"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/19.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=20"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/20.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=21"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/21.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=22"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/22.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=23"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/23.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=24"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/24.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=25"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/25.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=26"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/26.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=27"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/27.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=28"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/28.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=29"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/29.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=30"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/30.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=31"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/31.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=32"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/32.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=33"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/33.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=35"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/35.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=36"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/36.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=37"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/37.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=38"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/38.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=39"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/39.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=40"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/40.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=41"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/41.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=42"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/42.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=43"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/43.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=44"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/44.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=45"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/45.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=46"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/46.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=47"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/47.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=48"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/48.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=49"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/49.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=50"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/50.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=51"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/51.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=52" style="border: 1px #007FDD solid;"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/52.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=53"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/53.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=54"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/54.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=55"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/55.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=56"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/56.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=57"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/57.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=58"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/58.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=59"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/59.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=60"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/60.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=61"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/61.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=62"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/62.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=63"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/63.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=64"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/64.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=65"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/65.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=66"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/66.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=67"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/67.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=68"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/68.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=69"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/69.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=70"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/70.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=71"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/71.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=72"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/72.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=73"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/73.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=74"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/74.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=76"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/76.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=77"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/77.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=78"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/78.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=79"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/79.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=80"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/80.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=81"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/81.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=82"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/82.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=83"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/83.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=84"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/84.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=85"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/85.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=86"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/86.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=87"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/87.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=88"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/88.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=89"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/89.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=90"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/90.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=91"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/91.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=92"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/92.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=93"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/93.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=94"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/94.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=95"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/95.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=96"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/96.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=97"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/97.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=98"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/98.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=99"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/99.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=100"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/100.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=101"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/101.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=102"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/102.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=103"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/103.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=104"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/104.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=105"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/105.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=106"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/106.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=107"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/107.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=108"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/108.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=109"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/109.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=110"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/110.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=111"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/111.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=112"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/112.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=113"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/113.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=114"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/114.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=115"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/115.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=116"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/116.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=117"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/117.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=118"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/118.png" /></a></li>

                                <li class="avatar"><a href="avatar.php?action=newavatar&id=119"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/avatards/119.png" /></a></li>
                            </ul>
                        </div>
                    </div><!--module-->
