
@{
    ViewBag.Title = "MyAvatar";
    Layout = "~/Views/Shared/_MyAccountLayout.cshtml";
}



<div class="module">
    <h3 class="orange bold">My Avatar</h3>
    <div class="content">
        <p>
            Your avatar will be displayed next to your username when bidding. Select an avatar that represents you best!
        </p>
        <ul class="avatar-list">

            <li class="avatar">
                <a href="UpdateImage?imageName=8">
                    <img src="~/Content/img/avatar/8.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=9">
                    <img src="~/Content/img/avatar/9.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=10">
                    <img src="~/Content/img/avatar/10.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=11">
                    <img src="~/Content/img/avatar/11.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=12">
                    <img src="~/Content/img/avatar/12.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=13">
                    <img src="~/Content/img/avatar/13.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=14">
                    <img src="~/Content/img/avatar/14.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=15">
                    <img src="~/Content/img/avatar/15.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=16">
                    <img src="~/Content/img/avatar/16.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=17">
                    <img src="~/Content/img/avatar/17.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=18">
                    <img src="~/Content/img/avatar/18.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=19">
                    <img src="~/Content/img/avatar/19.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=20">
                    <img src="~/Content/img/avatar/20.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="UpdateImage?imageName=21">
                    <img src="~/Content/img/avatar/21.png" />
                </a>
            </li>

            <li class="avatar">
                <a href="avatar.php?imageName=22">
                    <img src="~/Content/img/avatar/22.png" />
                </a>
            </li>
            <li class="avatar">
                <a href="avatar.php?imageName=23">
                    <img src="~/Content/img/avatar/23.png" />
                </a>
            </li>


        </ul>
    </div>
</div><!--module-->
