
@{
    ViewBag.Title = "MyGames";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<head>
    <title>MyGames - NewBids.com</title>
</head>

<div class="gloss">
    <div class="wrapper">

        <div id="container">

            <div class="content">

                <div id="main-content" class="twocol-left">
                    <div id="games-top"><h4>فعالیت های بازی</h4></div>
                    <div class="games" id="gamePlays">

                        <div id="games-scroller">
                            <center><br /><p class="bold">شما هنوز بازی ای را شروع نکرده اید!!</p><br /></center>
                        </div>
                        <div id="games-bottom">




                        </div>
                    </div> <!--End grid-->




                </div>	<!--main-content-->

                <div id="side-content" class="twocol-left">
                    <div class="module">
                        <h3><img class="icon-spacing" src="~/Content/Account_img/spotlight-icon.png" /> بازی بعدی</h3>
                        <div class="content">
                            <div id="announcement-new"><img src="~/Content/Account_img/new.png" /></div>
                            <p><img class="~/Content/Account_img/wordscramble_medium.jpg" width="190" height="129" /></p>
                            <div class="stars">
                                <p>
                                    <img src="~/Content/Account_img/blank-star.png" alt="star">
                                    <img src="~/Content/Account_img/blank-star.png" alt="star">
                                    <img src="~/Content/Account_img/blank-star.png" alt="star">
                                    <img src="~/Content/Account_img/blank-star.png" alt="star">
                                    <img src="~/Content/Account_img/blank-star.png" alt="star">
                                </p>
                            </div>
                            <h4><a href="/en/gameplay/play-word-scramble">Word Scramble</a></h4>
                            <p>Like letters? Then you'll adulate Word Scramble!</p>

                            <p class="center"><a href="/en/gameplay/play-word-scramble" class="buttons medium orange">شروع بازی</a></p>

                        </div>
                    </div><!--module-->
                    <div class="module">
                        <h3><img class="icon-spacing" src="~/Content/Account_img/gameplay-icon.png" /> بازی های شما</h3>
                        <div class="content">
                            <ul class="gameplays">
                                <li class="multiplier-one"><p>0 در دسترس</p></li>
                                <li class="multiplier-two"><p>0 در دسترس</p></li>
                                <li class="multiplier-five"><p>0 در دسترس</p></li>
                            </ul>
                        </div>
                    </div><!--module-->
                </div><!--side-content-->

            </div><!--content-->

        </div><!--container-->
    </div><!--wrapper-->
</div><!--gloss-->
@section Scripts{
    <script>
        var options = new Array();
        options["anchor"] = "";
        options["baseUrl"] = "/en";
        $(document).ready(function () {
            pagination.init("/en/account/games/ajax.php?", "gamePlays", options);
        });
        $(document).ready(function () {
            $('.tabs li').each(function (index) {
                var tabClass = $(this).attr('class');
                if (tabClass == "games") {
                    $(this).addClass('ui-state-active');
                }
            });
            $('.panel-content li').each(function (index) {
                var panelHtml = $(this).attr('class');
                if (panelHtml == "") {
                    $(this).addClass('active');
                }
            });


            if ($('.panel-content').length == 0) {
                $('.tab-nav').css('border', '0px');
            }
            //$.scrollTo('.tab-nav',0);
        });
    </script>
}